[2014-06-12 15:42] 75lb opened #1 "todo: @param default value"

[2014-06-18 18:50] #1 closed, assigned to nobody

[2014-06-18 20:07] 75lb opened #2 "hide @private items"

[2014-06-19 10:42] 75lb opened #3 "upstream issues"
thread for tracking relevant issues in jsdoc

[2014-06-19 11:23] 75lb opened #4 "todo list"
These are my notes.

- [ ] bugs
  - [x] constructor desc missing but classdesc description showing on ES6 class (cla)
  - [ ] `@param [options.newLine=os.EOL]` puts the default in quotes, which it shouldn't
  - [ ] `--example-lang off` not mentioned in usage
  - [ ] documenting a quoted property includes the quotes (`"\"bg-red\""`), it doesn't need them
  - [ ] this [issue](https://github.com/jesu

[2014-06-21 08:24] #2 closed, assigned to nobody

[2014-07-17 15:38] IjzerenHein opened #5 "Link to constructor is incorrect in class members-index"
Looking at this file:
https://github.com/IjzerenHein/famous-listview/blob/master/docs/ListView.md

When clicking the link 'new ListView(options)', it jumps to the top of the document rather than to the constructor.

Cheers

[2014-07-18 13:28] #5 closed, assigned to nobody

[2014-07-31 23:32] arodic opened #6 "Suggestion: add ability to generate documentation from jsdoc inside html files"
I'm looking into automatically generating README.md from html elements that contain jsdoc within inline javascript blocks as well within html comment blocks. Would something like this be possible with jsdoc-to-markdown?

[2014-08-13 15:12] evil-shrike opened #7 "Cryptic error message 'Parameter 'url' must be a string, not undefined'"
Running jsdoc2md againt a bunch of js files and getting weird error.

[code]

Something is wrong but what and where?

[2014-08-15 13:24] #7 closed, assigned to nobody

[2014-08-27 16:56] IjzerenHein opened #8 "latest output not being rendered correctly by sublime & atom"
Hi, I just updated to the latest grunt-jsdoc-to-markdown and noticed that the current output of my files is no longer being rendered correctly by Sublime (preview in browser) and also in Atom.io (preview-plugin).

It seems to be something related to the additional tabs/spaces in the beginning of the line. If you need for info on how to reproduce let me know.

Cheers

[2014-08-28 18:55] #8 closed, assigned to nobody

[2014-09-26 19:57] #3 closed, assigned to nobody

[2014-09-29 17:01] jnovack opened #9 "Event object properties not being parsed properly."
My Event

[code]

Generates:

[code]

I would expect my properties to be listed.

[2014-09-30 20:44] #9 closed, assigned to nobody

[2014-11-05 16:44] satazor opened #10 "Highlight default values of params"
[code]

The above example does not highlight the default value of the `task` argument, which would be cool.
Am I missing something or simply there's no highlighting for it?

[2014-11-18 06:08] raabbajam opened #11 "Handlebar throwing 'The partial main could not be found'"
Is it just me or anyone else can't get this working?
I've installed it globally AND locally but still can't make it work (both with and without -g).
Maybe I miss something in your README.md or maybe you forgot to put some requirement on your package.json.
Anyway, great work. Keep at it.

[code]

[2014-11-20 00:19] #11 closed, assigned to nobody

[2014-12-21 20:37] Joris-van-der-Wel opened #12 "@example should perform escaping"
[code]

`jsdoc test.js` gives me:

[code]

`jsdoc2md test.js` gives me:

[code]

That anchor is interpreted by markdown as html, this should probably be escaped or wrapped within a code block.

[2014-12-22 06:13] #12 closed, assigned to nobody

[2014-12-23 12:16] fasttime opened #13 "@throws annotations not rendered correctly"
I'm not sure where this belongs, so I'm going to post here. I have this .js file:

[code]

The output of jsdoc-parse looks so:

[code]

This is ok except that "ReferenceError" is repeated outside "exceptions". Then dmd gives this output:

[code]

Here one exception is rendered in place of the function description, one has the caption "Type", and another one is gone.

I'm working on a project that

[2014-12-26 02:57] azaslavsky opened #14 "Respect @ignore tags"
Currently, adding the `@ignore` tag to a jsDoc block has no effect.  It would be nice if ignore tags did exactly what it says on the tin.

[2014-12-26 22:58] #14 closed, assigned to nobody

[2015-01-06 23:50] 75lb commented on #12
here are the domv docs generated using the latest jsdoc2md code, how does it look?: https://github.com/75lb/domv/blob/master/api.md

1. implemented.. take a look at `domv/lib/HtmlDocument`.. if you click an inherited member in the class member index it takes you to the docs in the parent class (Component).. this reduces duplication in the docs (before, docs for inherited Component members were dup

[2015-01-07 12:18] Joris-van-der-Wel commented on #12
awesome that looks much better! I do not see any other issues, thanks

I committed the missing `</p>`

[2015-01-07 12:20] 75lb commented on #12
good, glad you like it.. i will package up a pre-release of jsdoc2md for you to experiment with.. will get back to you later..

[2015-01-10 12:47] vvakame opened #15 "feature request: support TypeScript style class code"
Please support TypeScript style class code.

http://goo.gl/JMi7Wu
TypeScript convert class syntax to prototype style code, but it emit immediate function pattern.
but I can't found ignore immediate function in jsdoc-to-markdown.

I want do this image.
[code]
but dmd not support --template option.

[2015-01-10 13:44] 75lb commented on #13
i generated your docs from the `throws` branch, how's it looking? https://github.com/75lb/Q-exact/blob/throws/Q-exact.md

install the next version preview:
`$ npm install -g jsdoc-to-markdown@next`

then try it for yourself:
`$ jsdoc2md --heading-depth 1 lib/q.js --sort-by scope,kind > Q-exact.md`

[2015-01-10 13:44] #13 closed

[2015-01-10 14:18] 75lb commented on #6
sup @arodic .. i packaged up a pre-release version for you to play with..

install it
`$ npm install -g jsdoc-to-markdown@next`

then try it for yourself, you must pass the `--html` option for your plugin to be activated:
`$ jsdoc2md --html index.html`

take a look at the new options:
`$ jsdoc2md --help`

let me know of any flaws etc.. can you suggest some projects with html documentation for me t

[2015-01-10 17:07] 75lb commented on #8
Hi @IjzerenHein, long time no speak.. here is how famous-map currently looks with the next version of the tool: https://github.com/75lb/famous-map/blob/master/docs.md

i'm still working on it, it's not ready for release, so your input would help at this point!

install it
`$ npm install -g jsdoc-to-markdown@next`

then try it for yourself:
`$ jsdoc2md Map*.js > docs.md`

take a look at the new opt

[2015-01-11 16:50] fasttime commented on #13
Thanks! I followed your instructions to build the doc and it worked like a charm: https://github.com/fasttime/Q-exact/blob/throws/Q-exact.md

Now the function names are sorted alphabetically in Global and in the class member index but they're still scrambled in the document below. I hope this won't be too much work to fix, too.

Another thing is that markdown syntax doesn't work well in `<dl>` tag

[2015-01-12 00:24] 75lb commented on #13
thanks for the feedback :)

do a reinstall and try again
`$ npm install -g jsdoc-to-markdown@next`

this command
`$ jsdoc2md lib/q.js > Q-exact.md`

should produce this (with the sorting and dl list links fixed)
https://github.com/75lb/Q-exact/blob/throws/Q-exact.md

any more issues, let me know! your criticism and feedback is very useful :+1:

[2015-01-12 07:29] fasttime commented on #13
Happy to help :-) I don't see any other issues. Everything's perfect now :+1: I'll keep watching this and update my project when you decide to release the new version with a Grunt plugin. Just ping me if there's more I can do.

[2015-01-12 08:27] IjzerenHein commented on #8
Looks pretty nice Lloyd!
I'll have a closer look the next time I'll update the documentation.
cheers, Hein

[2015-01-12 15:24] arodic commented on #6
Hey @75lb

Thanks for the update. Unfortunately, I was not able to run it (no output). Perhaps some dependencies are missing on my end.

I was going to use this feature for custom elements made with polymerjs such as [this one](https://github.com/Polymer/paper-slider/blob/master/paper-slider.html).

[2015-01-12 16:05] 75lb commented on #6
hey :)

it works fine for me, did you remember to use the required `--html` flag?

try re-installing:
`$ npm i -g jsdoc-to-markdown@next`

then generate docs:
`$ jsdoc2md --html paper-slider.html`

[2015-01-12 16:14] arodic commented on #6
That did it! I tried it with a bunch of files and it worked perfectly. I'll let you know if I notice any bugs :bug:

Thanks so much!

[2015-01-12 16:16] 75lb commented on #6
you’re welcome.. and thanks for the plugin!=

[2015-01-13 00:25] 75lb commented on #8
cool, let me know once you've updated - i'd like to use your docs as an example, if poss ;)

[2015-01-15 11:12] IjzerenHein commented on #8
Yeah sure, no problem at all :)

I'll probably have time to look at it this weekend.
Cheers

[2015-01-22 13:25] IjzerenHein commented on #8
Hi, I'm just testing against my famous-flex library. Looking nice!
I did notice one things. I some cases I have @params which can receive multiple data-types, so I write them out like this:
[code]

The resulting markdown is:
[code]

When I view the result in Atom (I use the Atom markdown previewer), it doesn't render this correctly. I'm not sure if this is because of the markdown itself or whether

[2015-01-28 11:34] vdininski opened #16 "Splitting a single file in multiple .md files"
Is splitting a single monolithic file with `jsdoc`-style comments in separate files supported? If a single file exposes multiple `classes` is there a way to generate separate files for each definition? Perhaps using some other meta-information or using a parameter which takes into account the type definitions?

[2015-01-28 11:57] 75lb commented on #16
yes, there is a way.. are you using the stable `5.*` release, or the `@next` release? If you are using `@next` i can show you how..

[2015-01-28 12:12] vdininski commented on #16
We have made some tests using the 5.* release, however we are open to using the `@next` release as long as the API is somewhat stable and probably won't change much before releasing

[2015-01-28 14:14] 75lb commented on #16
best to use @next, it's so far ahead of the current release.. yes, a few things will change over time but the library and command-line APIs should be fairly stable.. if they do break in future releases, you can choose not to upgrade until you are ready..

install it
[code]
then take a look at this output example.. it demonstrates how to cherry-pick certain classes:
https://github.com/75lb/jsdoc-to

[2015-01-28 14:17] vdininski commented on #16
Thanks, this seems like exactly the thing that we need!

[2015-01-28 14:23] 75lb commented on #16
good, i hope so.. obviously this is bleeding edge stuff (i'm still documenting it all) so don't be shy to tell me of any issues.. i still have work to do before release..

[2015-01-28 21:11] #6 closed

[2015-01-28 22:12] 75lb commented on #10
fixed in @next, looks like [this](https://github.com/75lb/jsdoc-to-markdown/blob/next/example/format-options/md/param-list-format.md)

[2015-01-29 00:19] 75lb commented on #8
tbh, the Atom markdown previewer is at fault as it is not rendering github-flavoured-markdown correctly.. never-the-less, if you grab the latest @next:

[code]

then pass the `--no-gfm` option, e.g.:
[code]

...then tables will be rendered using html instead of gfm tables.. if you look at the raw version of [this page](https://github.com/75lb/jsdoc-to-markdown/blob/next/example/format-options/md/n

[2015-01-29 10:02] IjzerenHein commented on #8
I see. Well if the output is correct, then I'd rather stick to the new version. Do you have a suggestion for a good tool (Mac/website) to preview the output (and test the links in the page as well)?
Cheers and thanks!

[2015-01-29 10:07] IjzerenHein commented on #8
Conversation was continued through email.

[code]

[2015-01-29 10:08] IjzerenHein commented on #8
Ok thanks.
Can you also share a version using the Stock famo.us ScrollView (using 100 ListingView items) and an other version which uses the z-translations on different URL's so I can compare those?

[2015-01-29 10:09] IjzerenHein commented on #8
Ok here they are --

FlexScrollView, no Z order adjustments:
*links have been removed*

FlexScrollView with Z order adjustments:
*links have been removed*

Stock ScrollView 100+ surfaces:
*links have been removed*

Note that the middle box ("Specials tonight") has a red border. With 100 of them stacked up and offset, it may look like a solid red box to the left. Zoom in and you'll see the individu

[2015-01-29 10:09] IjzerenHein commented on #8
Hi Peace,
Awesome!

Regarding the 100+ surfaces demo. What I meant was, can you add 100+ list-items to the scrollview? Not more surfaces to a single list-view item.
What I'm trying to show/debug is that the stock famo.us scrollView will also show the DOM ordering issues once you give it more list-items to work with. This is because it has a different threshold for when it starts adding/removing it

[2015-01-29 10:09] IjzerenHein commented on #8
Oh, and can we please continue this conversation on github. Just remove the links and mention that you send me the links. It is important that this information is on github so that other people can view the discussion and learn from it, or I can refer to the discussion directly when a similar question comes up.

[2015-01-29 10:10] IjzerenHein commented on #8
I updated the wwwScrollView demo as you suggested (100 list items instead of 100 surfaces per item lol).  You're right the stock ScrollView does eventually miss rendering surfaces.

I'll reply further on the GH thread.

[2015-01-29 10:10] IjzerenHein commented on #8
Yes that's what I thought would happen. The FlexScrollView has different a threshold setting for when items are added/removed from the DOM, it will typically remove all elements from the DOM that are not in the view. I have found that this performs the best on all devices. The stock famo.us scrollview will keep always keep about 10+ list-items in the DOM.
You can also instruct the FlexScrollView t

[2015-01-29 10:11] IjzerenHein commented on #8
The layoutAll option works like a charm!  You might want to add that comment to the thread for other people's benefit too.

Is it bad to compose items with multiple surfaces?  I first tried a single surface containing markup to place the child elements, but it was such a hack merging a string of markup with variables inserted. Famo.us really could benefit from something like React's JSX.

[2015-01-29 10:26] IjzerenHein commented on #8
No I don't want to give the recommendation to use that option.

The real cause of the problem is that you cannot control the order of the items in the DOM using famo.us (if you think this is a bug, then please report it to famo.us). What you need to do is fix your code and add z-translations to those surfaces that you want to be displayed in front. As your app evolves you will very likely get mult

[2015-01-29 10:33] IjzerenHein commented on #8
Oh as for your second question.

No, it's no problem to compose items with multiple surfaces, in many cases you will have to do this, and it is the only way to handle different click events on single list-item.
In those cases where I don't need to handle separate click events for the list-item, I often do create a single surface and pass the child-divs as content to the surface. I used to concat t

[2015-01-29 10:36] IjzerenHein commented on #8
Oops, I just put this famous-flex conversation in the completely wrong thread... auch
sorry dude, cleaning it up as I type this, sowwy

[2015-01-29 13:03] 75lb commented on #8
yes, the output is correct [github-flavoured-markdown](https://help.github.com/articles/github-flavored-markdown/) (`\|` means "this is a literal pipe character, not a table column delimiter").. the `--no-gfm` option avoids using github-specific syntax..

Well, i use [Mou](http://25.io/mou/) as it handles most gfm (except 'fenced code blocks') well.. i tried three of the top online markdown editor

[2015-01-29 15:50] IjzerenHein commented on #8
Hi, I've just updated the docs of my famous-flex lib to the latest version of jsdoc2md, looking good :+1: :)

[2015-01-29 15:55] 75lb commented on #8
great, pleased to hear it! I just had a flick through your docs (great library, btw) - looking good.. and there is still room for improvement - i'll show you later.. hopefully, famous-flex can become an example on the jsdoc2md readme of how a well-documented module *should* look :+1:

[2015-01-29 16:03] IjzerenHein commented on #8
Yeah sure, just refer to it, no problem. :+1: :)

[2015-02-02 12:22] vdininski commented on #16
Except for class cherry-picking is there a way to essentially split a monolithic js file with multiple classes in separate MD files using the same template?

[2015-02-02 14:36] 75lb commented on #16
so, you have one massive JS input file and you want to split the documentation out into multiple output files? For example, document one class or object per output file?

[2015-02-02 14:50] vdininski commented on #16
Exactly. I can think of one way to do it - a grunt job which would dynamically generate templates and execute jsdoc against each one. While this is fine with this approach I would have to also maintain a list of the "classes" for which the documentation is to be generated. Instead wouldn't it be better if there was a flag which would tell the generator to apply a template on each `@class` definiti

[2015-02-02 18:17] 75lb commented on #16
leave it with me @vdininski, will get back to you

[2015-02-03 17:17] windgazer opened #17 "Render markdown without TOC option"
Since I'm trying to generate wiki pages out of my jsdocs and the wiki takes care of TOC's, on top of that my wiki doesn't actually allow HTML-tags, it'd be nice if you could allow for an option that skips any TOC generation (including skipping the HTML-anchors for id purposes).

[2015-02-03 17:20] 75lb commented on #17
well, it’s currently possible to do those things.. but requires some knowledge of dmd and the templates.. i’ll think about how i can make it easier..

are you using the current release, or `@next` preview release?

[2015-02-04 00:55] windgazer commented on #17
I'm using current, but I've been browsing both parts of the repo to try and get a handle on things. By now I've managed to get a rudimentary version of what I wanted by passing along empty `anchor.hbs` and `index.hbs` partials.
Also, as this is certainly has an impact on my use, I'm primarily using the grunt plugin. Perhaps a usage example that explains how a partial can easily be overwritten and

[2015-02-04 01:05] windgazer opened #18 "Expose output filename and extension as a handlebar variables"
I would like to render the jsdocs as separate output files, one output file for each input file. This is easily achieved using the Grunt plugin. However, I would also like to generate an index file that links to these.
I got pretty close using the following snippet in a custom `.hbs`:

[code]

The problem being that `{{{name}}}` does not have to match the filename, it accidentally does on most mod

[2015-02-04 01:09] windgazer commented on #18
I'm being an idiot, sorry, this will never work as the index would be generated in a separate run-through where the output filenames would not even be available!

[2015-02-04 01:09] #18 closed

[2015-02-04 01:11] 75lb commented on #18
hi, sorry - i’ve not had chance to look at this tonight.. hitting the sack now so will get back to you tomorrow

[2015-02-04 20:47] 75lb commented on #17
looking into this.. incidentally, which wiki software do you use?

[2015-02-04 21:10] 75lb commented on #17
html tags are required for certain features.. for example, the docs sometimes have types which link to other parts of the docs, e.g.:

human.liver →  <code>[Organ](#Organ)</code>

this is rendered with this markdown:
[code]

if you replace the `<code>` tags with the markdown syntax for code blocks (the backtick), you lose the hyperlink:

human.liver →  `[Organ](#Organ)`

which is rendered by
[code

[2015-02-04 21:58] 75lb commented on #17
on `@next` i have added `none` options to `--module-index-format` and `--global-index-format`.. so you can now skip the main index by passing something like:
[code]
reinstall to try it out:
[code]

[2015-02-04 23:20] 75lb commented on #16
here's an example script, dynamically creating one output file per class in the input source: https://github.com/75lb/jsdoc-to-markdown/blob/next/example/scripts/class-per-file.js

[2015-02-04 23:33] windgazer commented on #17
Damn, this is way more involved than I had thought! The wiki software in question is Bitbucket, which uses a 'safe' setting that doesn't allow any html (above and beyond stupid as they even refuse to acknowledge entities).
The biggest sore was certainly with the created index and the anchor-tags that it required to be able to have id's to target. It resulted in an index with links that didn't work

[2015-02-04 23:38] 75lb commented on #17
ok.. i'll have a look at a Bitbucket wiki tomorrow.. awkward bastards.. we should get it working..

[2015-02-05 00:08] windgazer commented on #17
Alright, if you're going to dive into that, some things of note:
- Bitbucket wiki pages can generate an index for the current page using `[TOC]`
- All headers in Bitbucket wiki get an id set to `markdown-header-` plus the lowercase header content with all non-word characters replaced by a dash. For instance

[code]

    would get the id

[code]
- My current quick and dirty hack: https://gist.githu

[2015-02-05 08:38] nwhite89 opened #19 "Allow for all modules without manually writing within the handlebars file"
I am wanting to have multiple files (different modules) generate within a single markdown file. I'm not bothered about the ordering (alphabetical makes sense for this). In order to do this currently I will need to write

[code]

I think it would be better to allow for simply

[code]

Having it when there is no module specified it outputs all of the JSDoc within the body ? or perhaps a set wrapper

[2015-02-05 09:53] windgazer commented on #17
I had a look at the output and it's definitely where I wanted this request to go. However, as I've also been digging through customising the .hbs partials I'm starting to wonder if this increased complexity of your templates is worth it.
Alternately, would it not be more interesting to invest a little time in explaining how to quickly make a new plugin? That way users have far superior flexibility

[2015-02-05 11:12] 75lb commented on #19
i wrote a quick example of how this is done in the new version: https://github.com/75lb/jsdoc-to-markdown/blob/next/example/identifier-blocks/modules.md

install and try it:

[code]

[2015-02-05 14:47] nwhite89 commented on #19
ah I see :+1: great @75lb thanks

[2015-02-23 21:08] 75lb commented on #6
hey @arodic , do you have any projects which have documentation created using your plug-in? I'm looking for an example to put on my README..

[2015-02-24 13:54] mdreizin opened #21 "@this tag is not supported"
It looks like that `@this` is not supported. Please see http://usejsdoc.org/tags-this.html

[2015-02-24 14:09] 75lb commented on #21
it is supported in the next version.. please see the instructions at the top of the README (https://github.com/75lb/jsdoc-to-markdown) and install the next version.. let me know if it fixes your issue

[2015-03-01 21:25] dtjohnson opened #22 "No way to make a constructor private."
This tool is fantastic. I love it already. However, I have a couple classes with constructors I'd consider "private". I want to exclude them from documentation since they shouldn't be called by the user. If I mark the constructor documentation with @private, however, it treats the whole class as private and ignores it.

Is there anyway to ignore a constructor?

[2015-03-01 21:37] 75lb commented on #22
pleased you like it! Which version are you using, the current stable release (0.5.11) or @next (0.6.4)?

hmm, interesting conundrum.. in jsdoc, if you mark a class as `@private` then there is no way to distinguish whether you intended the whole class or just the constructor to be private.. so you think making this separation would be useful? I'd need a new tag, something along the lines of @constr

[2015-03-01 22:03] dtjohnson commented on #22
I'm using @next. You can see my documentation here:
https://github.com/dtjohnson/xlsx-populate

The constructors for Sheet and Cell shouldn't be called directly by the user. They are instantiated by the Workbook methods.

Yeah, it's an interesting issue. I looked around for the proper way to do this in JSDoc and it doesn't seem to exist.

[2015-03-01 22:23] 75lb commented on #22
not sure of your particular criteria but do you have a case to use a [creational pattern](http://en.wikipedia.org/wiki/Creational_pattern) to abstract away the details of Sheet and Cell construction?

Maybe use a factory pattern, in the same vein as the native JS factory method `Object.create`

[2015-03-02 01:12] dtjohnson commented on #22
I'm not sure that helps me. The code is fine. I don't need to forbid the use of the constructor. Just don't want it in the documentation since it shouldn't normally be used by a consumer. (In fact, it would be tough since those classes aren't exposed directly.) I just want a way to opt-out the constructor from the docs.

[2015-03-18 12:24] phun-ky opened #24 "One .md-file per .js-file"
I see this code here:

    var jsdoc2md = require("jsdoc-to-markdown");
    var gutil = require("gulp-util");
    var fs = require("fs");

    gulp.task("docs", function(done){
        var src = "lib/**/*.js";
        var dest = "api.md";
        var options = {};

        gutil.log("writing documentation to " + dest);
        jsdoc2md.render(src, options)
            .on("error", function(err){

[2015-03-18 12:50] phun-ky commented on #24
Found a way now, but it's nasty:

    gulp.task("docs", function(){

      var src   = 'docstarget/**/*.js';

      return  gulp.src(src)
                .pipe(tap(function(file){
                  fs.createReadStream(file.path)
                  .pipe(jsdoc2md.render())
                  .pipe(fs.createWriteStream(file.path.replace(/.js/g,'.md')));
                }))
                .on("error",

[2015-03-18 13:21] 75lb commented on #24
hi, will look into this when i get a moment but i notice you're missing a return statement..

in the example [here](https://github.com/75lb/jsdoc-to-markdown#as-a-gulp-task) notice it is `return jsdoc2md.render(src, options)` - your code above lacks the `return`.. does adding it help in your case?

[2015-03-18 13:34] phun-ky commented on #24
No, that does not help :/

[2015-03-22 19:05] jesucarr opened #25 "(branch next) Pipes in table not escaping correctly in NPM markdown"
Hey congrats for the upcoming version, I gave it a try and I like it a lot. Great improvements.

I found one little issue when escaping pipes in tables, for example when a value can be {String | Number}. In NPM the markdown doesn't seem to scape the \. You can see an example in my published package: https://www.npmjs.com/package/tokenbucket

After having a quick look it seems that the HTML charact

[2015-03-22 20:35] 75lb commented on #25
hey! pleased you like the tool... great docs - i will try your library myself..

i'm working on making it easier to document promises - will send more info soon..

which @param has the broken pipe symbol? i can't see it on your npm or github.. although i know there is an issue as i saw it myself recently..

[2015-03-23 07:28] jesucarr commented on #25
[options.interval] and [options.maxWait] have type {Number | String}, and as you can see they create an extra column in the NPM docs (not in Github)

[2015-03-23 13:59] borisirota opened #26 "How to recursively include all files in a directory and it's subdirectories ?"
I'm using the module from the command line:
`jsdoc2md lib/**/*.js -t readme.hbs > README.md`

I'm using glob expression as noted in the documentation and it works ok as long as `lib` doesn't have subdirectories with files inside.

When adding subdirectory inside `lib` with files the jsdoc2md ignore the files inside `lib` and take into account only the files inside lib's subdirectories.

How to tak

[2015-03-23 14:01] 75lb commented on #26
Hi, put the glob expression inside quotes
On 23 Mar 2015 13:59, "borisirota" <notifications@github.com> wrote:

[2015-03-23 14:04] borisirota commented on #26
It works ! Thanks :)

[2015-03-23 14:04] #26 closed

[2015-03-23 15:02] 75lb commented on #26
if you wrap the expression in quotes, bash (or your shell) will not attempt file-name expansion on the expression... if you don't use quotes, bash will attempt to expand the expression (which will only work in bash 4 with globstar enabled)

[2015-03-23 21:54] 75lb commented on #25
hi Jesu.. ahh yes, i have come across this issue on npm before.. the output generated by jsdoc2md is correct:
[code]
you can see the `|` character between Number and String is escaped - this is why it looks fine on github..

the issue is that the npm markdown parser (https://www.npmjs.com/package/marky-markdown) does not fully support gfm tables (yet)..

the solution is to render your docs using t

[2015-03-23 22:43] borisirota commented on #26
cool thanks :)

[2015-03-24 06:45] jesucarr commented on #25
I would really like to keep my gfm. Wouldn't be easy to replace `\|` with `&#124;` so it works in both?

[2015-03-24 15:25] 75lb commented on #25
if `&#124;` works in both, then yes - let's do that! will implement this evening..

[2015-03-24 22:55] 75lb commented on #25
fixed in https://github.com/75lb/dmd/commit/158879534b7b3d1a1223707dd1b4764ee875ae6e, released in dmd 0.3.25.

reinstall to pick up the change:
[code]

[2015-03-25 15:13] 75lb commented on #25
damn.. i released dmd 0.3.25 last night but forgot to update the `next` tag to correctly point to it.. please reinstall, you will see your change now:
[code]

[2015-03-25 18:43] 75lb commented on #17
just fyi, i haven't forgotten about this.. in fact i'm going to work on it next.. it'll be a dmd plugin, as you mentioned.. at the moment, jsdoc2md output looks shit on Bitbucket, and i need to change that before release..

[2015-03-26 08:55] windgazer commented on #17
Nice!! I've been using my 'acceptable for now' hack for now and got back to the actual coding my project part :) I was meanwhile hoping that some more detailed description of how to make a plugin would show up on your project, it just wasn't clear enough within the time-box I had for getting it to work...

Looking forward to what you'll come up with and honestly, if you need a hand at any point, I

[2015-03-26 09:59] 75lb commented on #17
morning! i did write some docs for the plugin method, if you look at the dmd [next](https://github.com/75lb/dmd/tree/next) branch.. feel free to attempt the plugin - it's definitely required.. it's all a bit "alpha" though at the moment so just shout if you get any issues..

[2015-03-26 13:06] windgazer commented on #17
I'm going to pin this on my board for monday. Knowing where to look for information is half the battle after all. I'll go have a stab at it and see if I can get a plugin to run. Will poke you should I get lost in the woods somewhere along the way :)

[2015-03-27 14:12] jesucarr commented on #25
looks beautiful now :) https://www.npmjs.com/package/tokenbucket

[2015-03-27 14:12] #25 closed

[2015-03-27 14:15] 75lb commented on #25
it's looking excellent - very nice docs.. on the jsdoc2md readme, could I refer to your library as a good example?

i'm currently working on an improved way to document promises - will get back to you soon about that..

[2015-03-27 15:05] jesucarr commented on #25
Sure you can refer my library.

I look forward to see the promises improvements.

[2015-04-07 21:13] 75lb commented on #17
hi.. i made a start on a plugin for Bitbucket.. any thoughts?

https://github.com/jsdoc2md/dmd-bitbucket

[2015-04-10 10:29] windgazer commented on #17
Damn that looks good. I don't quite understand how you made that happen with so little code! I used it on my main project (the one for which I at least cleaned up my jsdoc enough to works properly) with a custom template to trigger the TOC on Bitbucket and it's miles beyond what I had before.

The docs are way more readable and because of the nice use of sub-headings the TOC is nicely layered too

[2015-04-10 10:38] windgazer commented on #17
I think I would personally group the `Kind` line with the heading of a section. For instance:
[code]

This because a person who doesn't know the code should be able to immediately spot what kind of subject this doc is about.

Also one of the things I was thinking about is creating a helper to re-create the links used in your github version. Any header in Bitbucket has a predictable id, so making l

[2015-04-10 16:04] 75lb commented on #17
yeah.. it makes sense to move the `Kind` field up doesn't it..

it would be very useful to override the link helper for Bitbucket.. let me know if you have any problems with that.. tbh, i feel dmd is too hard atm.. too complex and not intuitive to edit.. even i found the process of making a plugin a lot of effort.. i will put some effort into making it more simple this weekend..

[2015-04-11 14:16] windgazer commented on #17
Well, I'll be honest, it certainly is not intuitive. But it is easy to see how powerful it is. My biggest challenge remains finding out which bit are where and where to put my own bits to over-ride them. Luckily I've also been poking around at Mustache a lot for my blog lately so that helps me understand a few things a lot better :)

[2015-04-11 14:22] 75lb commented on #17
hehe, i know.. and it was even less intuitive a few months ago.. i'm working on it - we'll get there eventually.

"My biggest challenge remains finding out which bits are where and where to put my own bits to over-ride them" - this summarises perfectly what i need to fix.. the experience should be  "it is obvious which partial generates what and simple to override it."

[2015-04-11 14:50] windgazer commented on #17
Alright, I may not always have time to help you code parts of this effort, but I'll promise to always take time to review anything you need an extra pair of eyes on :) Least I can do, cause I intend to make this toolset part of my default grunt setup...

[2015-04-11 15:01] 75lb commented on #17
cool, thanks.. a few months ago i started building a `dmd sandpit` webapp - you paste in some code hack around with the dmd templates to see (in realtime) how it affects the output.. will publish that soon, will make life easier..

[2015-04-12 16:18] matteocontrini commented on #26
Hi,
I've tried this but it is going inside the `node_modules` directory too, documenting things I don't care about and even failing with some modules (`gm` for example).
Any way to avoid this?

[2015-04-12 16:26] 75lb commented on #26
well, you can pass in several glob expressions enabling you to be specific about what to parse:

instead of this:
[code]
you could be more specific about which folders to traverse:
[code]

[2015-04-12 16:33] matteocontrini commented on #26
Thanks, I used like this in my case, if it'll help someone.
--> .js files in current folder and "extensions" folder

[code]

[2015-04-12 16:36] 75lb commented on #26
nice

[2015-04-12 18:54] matteocontrini opened #27 "Instance method listed as static"
Hi,
I am using the method [posted here](http://sebastian.formzoo.com/2013/06/05/organising-and-structuring-a-big-node-js-module/) for splitting a class prototype in multiple files (submodules).
The problem is that prototype functions are marked as static this way, because looking at the submodule files only that's what you understand. But it's wrong, because they're all prototype functions.

Is th

[2015-04-12 18:57] matteocontrini commented on #27
The [`@instance`](http://usejsdoc.org/tags-instance.html) tag doesn't seem to work

[2015-04-12 20:04] 75lb commented on #27
you need the [@alias](http://usejsdoc.org/tags-alias.html) tag..

will check the instance tag now..

[2015-04-12 20:09] matteocontrini commented on #27
"alias" works, but it's pretty verbose because I need to write `ClassName#functionName` for every function. The "instance" tag would be great...

[2015-04-12 20:19] 75lb commented on #27
`@instance` tag works fine, [see here](https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/tags/instance)..

you don't need to write `@alias` against every class member (the functions etc.) - you only write it at class level..

[2015-04-12 20:30] matteocontrini commented on #27
Thanks.
It works if I set both `@alias` (on the object declaration inside the submodule) and `@instance` (on functions).

[2015-04-12 20:33] 75lb commented on #27
hmm, sounds a bit messy.. ideally, jsdoc should be able to infer what the scope of your identifiers are from parsing the source code alone.. something feels a bit wrong when too many tags are needed..

[2015-04-12 20:39] matteocontrini commented on #27
I had the same impression when I tried but it is probably because of this strange use case of objects.

There are multiple objects declared in multiple files, with the same name of a class. Probably `@alias` is needed for telling "this is the same class declared somewhere else" and `@instance` for avoiding that the function is marked as static.

[2015-04-12 20:49] 75lb commented on #24
hi! You should no longer need this hack, or the custom gulp task.. the latest plug-in version should just work, meaning you can use [this method](https://github.com/jsdoc2md/gulp-jsdoc-to-markdown#one-markdown-file-out-per-source-file-in) to get "one markdown out per js in".. make sure you adhere to the caveat mentioned on the plugin docs.. let me know how it goes..

[2015-04-12 20:52] 75lb commented on #27
maybe re-organise your code a different way, so objects / classes are not split into different files.. one class or object per file..

[2015-04-12 20:55] matteocontrini commented on #27
I've just made that change, 2500 lines in the same file were not acceptable for mantaing a Node.js module :)

[2015-04-12 20:56] 75lb commented on #27
f**k.. i agree..

[2015-04-12 21:04] matteocontrini commented on #27
The `@alias` thing is not quite a solution... it is creating copies of the entire class for each time I use the alias. Oh God.

[2015-04-12 21:08] 75lb commented on #27
can you show me? put some example code demonstrating your issue in a gist please..

[2015-04-12 21:12] 75lb commented on #21
this is supported in the latest version, see [here](https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/tags/this)

[2015-04-12 21:12] #21 closed

[2015-04-12 21:26] #16 closed

[2015-04-12 21:26] #10 closed

[2015-04-12 21:38] 75lb commented on #15
hmm, this is a difficult one for me to fix.. jsdoc is for javascript, not typescript.. i do not control the output of the typescript compiler therefore i cannot predict what it will generate, or whether that generated code will be compatible with the jsdoc syntax.. closing.

[2015-04-12 21:38] #15 closed

[2015-04-13 16:44] matteocontrini commented on #27
[The problem](https://gist.github.com/matteocontrini/8c33efb90304d2d2c70f)
[How I solved now](https://gist.github.com/matteocontrini/401d62c4b78864a62e7d) (creating multiple actual classes with the same name)

[2015-04-13 18:45] 75lb commented on #27
i see.. yes, you might still need to use `@alias` in your piece files.. i've been through similar pain documenting my own stuff but once you get used to it it's nothing..

[2015-04-13 18:45] #27 closed

[2015-04-14 14:34] windgazer commented on #17
Well, I've smashed my head into the wall a few times today :) How on earth did you do development on your plugin? I've tried using the cloned repo as a 'local' dependency in NPM, but as it turns out, it was happily ignoring any changes I made :(

[2015-04-14 15:40] windgazer commented on #17
Where on earth does `>sig-name` come from? I can't for the live of me figure out how to pass it, whatever that is, into my helper :(

[2015-04-14 17:20] 75lb commented on #17
Hi! `sig-name` is [a partial](https://github.com/jsdoc2md/dmd/blob/master/partials/shared/signature/sig-name.hbs).. it renders markdown using data from the [sig helper in ddata](https://github.com/jsdoc2md/ddata/blob/master/lib/ddata.js#L439)..

you can’t pass a partial into a helper..

[2015-04-14 17:20] 75lb commented on #17
regarding your previous question, get to know `npm link`

[2015-04-14 17:27] windgazer commented on #17
Dinner was good for getting my head on straight :) In my head I was running of to some far-flung idea that in reality was hardly necessary. So, back to just re-writing sig-link.hbs
I'll keep muddling around with my current cheat, but I'll check up on npm link later!

[2015-04-14 17:29] 75lb commented on #17
ok.. sorry it’s such a bitch to modify, but i’ll fix that.. also, check out https://github.com/borisirota/jsdoc2md-anchors

[2015-04-14 18:47] windgazer commented on #17
Hmm, there's a lot here I'm unfamiliar with and I'm sometimes awfully slow in picking that up. The more I dive into it, the more sense it's starting to make... Actually, once I got my dev environment to pick up the changes I made, then found out where I needed to tweak things, it all went fast enough :)

I personally don't like adding another tool at the end of the chain, especially since the whol

[2015-04-15 20:35] 75lb commented on #17
i installed your plugin on one of my projects:
[code]

and ran it like so:
[code]

looks good! Seems to work.. there are still a few minor imperfections (not only regarding links) but we're making progress.. feel free to commit a PR when you're ready..

[2015-04-15 20:36] #19 closed

[2015-04-19 16:50] guatedude2 opened #28 "Parsing @private - Cannot read property 'match' of undefined"
The error I got when running `jsdoc2md({ src: source }).pipe(fs.createWriteStream(output));`

	WARNING: JSDoc does not currently handle ExportDefaultDeclaration nodes. Source file: /Users/Alex/Projects/pixi-cli-server/plugins/class/0.0.1.js, line 102
	events.js:85
		  throw er; // Unhandled 'error' event
				^
	TypeError: Cannot read property 'match' of undefined
		at Object.parseType (/Users/Alex

[2015-04-19 21:12] tenbits opened #29 "Docs missing inside the IIFE"
Hi Team,

is it possible to generate the docs from inside the IIFE. Consider this example
[code]
[code]

`jsdoc2md` generates an empty file. Only the commenting of the lines  2 and the last one (`iife` call) makes the docs to be created. Though `jsdoc-parse` works as expected for both of the variants.

Thanks, Alex

[2015-04-20 21:31] 75lb commented on #24
inactive, assuming resolved..

[2015-04-20 21:31] #24 closed

[2015-04-20 22:14] 75lb commented on #28
fixed in https://github.com/jsdoc2md/dmd/commit/0f134973266e7781c4dfae070db2a67c2aaa1f2c, released in `dmd@1.0.3`.. thanks for the report :+1: .. reinstall your jsdoc2md tool/plugin to pick up the fix.

[2015-04-20 22:14] #28 closed

[2015-04-20 22:32] 75lb commented on #29
hi alex, thanks for the report.. yes, it's a known issue and i one i would like to address.. i will look into it tomorrow..

[2015-04-20 22:57] tenbits commented on #29
Thanks, Lloyd. I'm not sure if this helps, but I noticed the DocRenderer ignores the nodes in a tree with `memberof:anonymous`.  And thank you for your work, nice project structure ..

[2015-04-27 12:44] 75lb commented on #29
sorry for the delay in actioning this important issue! i lost my damn laptop a week ago - left it on the tube.. i'll get a new one in the next couple of days and get back on it..

[2015-04-27 12:50] tenbits commented on #29
Oh, it is a pitty to lose things, espaccially all the e-gadgets. But I really hope you have all the backups. May be you also have to consider to change all your sensitive passwords.

[2015-05-01 23:04] DavidMGross opened #30 "separators don't work in some markdown renderers"
It would be nice if instead of a boolean on/off switch for "separators" you could specify the nature of the separator.  In Stash, for example, the single dash on a line by itself just renders as a single dash on a line by itself, not as a horizontal-rule.  So, something like:

[code]

...would be helpful.

[2015-05-01 23:06] 75lb commented on #30
good idea, thanks.. will look into that :+1:

[2015-05-06 00:03] 75lb commented on #17
what's the status here, do we still have an issue?

[2015-05-07 21:04] 75lb commented on #30
btw, the `-` separator (single dash on line by itself) is gfm-specific.. if your markdown parser does not like gfm you can disable it with the `--no-gfm` option.. is this any help as a quick win?

[2015-05-07 21:19] 75lb commented on #30
you can see how `--no-gfm` affects the separators [in this example](https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/example/options/formatting%20options/no-gfm/separator.md)

[2015-05-08 00:04] DavidMGross commented on #30
Having horizontal lines suggested by "* * *" isn't much better than having
them suggested by "-" for my purposes.  As a workaround, I pipe the output
from jsdoc2md through a quick perl search-and-replace:

perl -p -i -e \"s/^-\\n/<hr \\/>\\n/g\"

On Thu, May 7, 2015 at 2:19 PM, Lloyd Brookes <notifications@github.com>
wrote:

--
David M. Gross
PLP Consulting

[2015-05-08 09:05] 75lb commented on #30
`* * * ` is [vanilla markdown syntax for horizontal rule](http://daringfireball.net/projects/markdown/syntax#hr) - if your parser doesn't support that it doesn't fully support markdown.

Not to worry, i'm working on internationalisation at the moment - that will allow us to localise/customise all words, symbols, markdown syntax etc.

[2015-05-10 08:34] windgazer commented on #17
You're quite right, this issue is certainly resolved!

[2015-05-10 19:42] #17 closed

[2015-05-15 18:23] DavidMGross opened #31 "anchors contain illegal characters"
Some of the anchors generated by jsdoc2md contain the character "#" (e.g. `&lt;a name="Primer#publish"&gt;&lt;/a&gt;'). I don't think that's a legal character in an HTML anchor, and it does cause problems with some markdown renderers (e.g. Stash) which just omit the anchor link entirely.

See: http://stackoverflow.com/questions/2849756/list-of-valid-characters-for-the-fragment-identifier-in-an-url

[2015-05-15 18:31] 75lb commented on #31
Ok, thanks.. maybe we should make the anchor string format a config option, will look into that

[2015-05-15 21:10] 75lb commented on #31
this is fixed, will let you know once it is released.. in future the anchor names will look like this (`+` instead of `#`):

`<a name="Primer+publish"></a>`

[2015-05-17 22:04] 75lb commented on #31
this is released in ddata@0.1.19.. reinstall your jsdoc2md tool/plugin to pick it up..let me know if you have any more issues

[2015-05-17 22:04] #31 closed

[2015-05-19 10:14] shaoner opened #32 "Prevent pipe escaping"
Hi,

I'm completely satisfied with this module which handles everything I need.
However when using this syntax:
[code]

It turns into `<code>string</code> \| <code>Number</code>` which seems to not be supported as standard markdown. It is here in github though. But usually it results into defining another column in the output table.

Would it be possible to output the ascii code:
[code]
instead of

[2015-05-19 10:30] 75lb commented on #32
are you using the latest version of the tool/plugin?

[2015-05-19 11:15] shaoner commented on #32
No it seems I was not. Thank you.

[2015-05-19 11:15] #32 closed

[2015-05-26 22:44] whitlockjc opened #33 "Example caption support"
The [example tag allows captions](http://usejsdoc.org/tags-example.html) but when I attempt to use captions, jsdoc2md throws the caption tags and their contents into the example code.  Here is an example:

[code]

Right now, the generated example _(without header)_ looks like this:

[code]

When I'd expect the generated example to look like this:

[code]

I would also like to see the example heade

[2015-05-26 22:52] 75lb commented on #33
Hi Jeremy, you're absolutely right - we need to support @example captions..
if a PR is not too much effort for you I would welcome it, otherwise it
will go on my todo list.. your suggestion to add the caption to the example
header makes sense..

[2015-05-26 22:57] whitlockjc commented on #33
Don't worry yourself with this, I'll take care of it.  Work on the other stuff and look for my PR.  :)

[2015-05-26 23:01] 75lb commented on #33
appreciated :+1:

[2015-05-27 02:04] whitlockjc commented on #33
Being new to this project, it seems the actual place to fix this might be `dmd` or `jsdoc-parse`?  Can you confirm/deny so I don't go down a rabbit hole?

[2015-05-27 08:21] 75lb commented on #33
the handlebars partial which renders the `@example` tag is here: https://github.com/jsdoc2md/dmd/blob/v1.1.1/partials/all-docs/docs/body/examples.hbs

the `{{#examples}}` helper is defined here: https://github.com/jsdoc2md/dmd/blob/v1.1.1/helpers/helpers.js#L295

yes, it is rather rabbit-holish atm.. it will improve..

[2015-05-27 15:21] whitlockjc commented on #33
Thanks for pointing me in the right direction.

[2015-05-28 19:51] tnunes opened #34 "{{>member-index~}} does not produce a member index if module has only one member"
Using the following template in a `.hbs` file, `jsdoc-to-markdown` does not produce a listing with one member for the index of modules containing one single member:

[code]

Am I missing something or is this indeed a bug?

[2015-05-28 20:05] 75lb commented on #34
which version are you running? the latest release (1.1.1) or something else?

[2015-05-29 22:23] tnunes commented on #34
Yes, I'm running 1.1.1.

[2015-05-29 22:25] 75lb commented on #34
that's odd, i couldn't reproduce this using v1.1.1.. it worked fine for me using your template.. could you send a link to your repo, or to a gist containing the module that is failing please

[2015-05-29 22:57] tnunes commented on #34
A simple module like this should be enough to reproduce the bug:

[code]

[2015-05-30 21:12] 75lb commented on #34
i can't reproduce your issue, it works fine for me with your exact code and template.. try uninstalling then reinstalling the tool/plugin.. which version of node and npm are you running?

see this gist.. you can see from the file `output.md` that it works.. install it yourself then run `npm run docs` in the root directory.
https://gist.github.com/75lb/ffff278900178e344bcd

[2015-06-02 10:15] tnunes commented on #34
Actually your gist reproduces my issue. See what happens when I add another method: https://gist.github.com/tnunes/3807358cf0e47126c636

That `{{>member-index~}}` tag is not producing any output in the first case, with only one method, whereas in the second, with two methods, it produces a listing of the module contents.

[2015-06-03 15:55] tenbits commented on #29
Hi Lloyd, any progress on the issue?

[2015-06-03 15:58] 75lb commented on #29
not yet, i'm still progressing a couple of other things on the list.. but i'll take a preliminary look tonight, after work.. will get back to you..

how are you handling it in the meantime? with a workaround? or no docs at all?

[2015-06-03 16:13] tenbits commented on #29
Thanks for looking into this issue.

:smile:  As usual, there are a lot of other things on my todos, and no time for finding a workaround.

[2015-06-03 16:16] 75lb commented on #29
well, no docs is no use at all.. will get onto it.

[2015-06-15 11:31] tnunes commented on #34
Any update on this issue?

[2015-06-16 08:00] 75lb commented on #34
that is the desired behaviour, see [here](https://github.com/jsdoc2md/dmd/blob/v1.1.1/partials/all-docs/docs/member-index/member-index.hbs#L1). The member-index is only displayed if the object has minimum 2 members.. A member index containing just a single member is not worth displaying. What's the point having a "table of contents" if it only one entry, pointing to page 1?

[2015-06-16 10:11] tnunes commented on #34
I believe that choice should be left to users. If I don't want to display a table of contents because a module only has one member, I will omit the `{{>member-index~}}` tag. If I include it explicitly I expect the tool I'm using to include one.

I'm building documentation for quite a few services using consistent templates. Most services have several members, but I just came across one that export

[2015-06-16 10:12] 75lb commented on #34
no problem, i will make it a config option.. leaving this issue open until it's done.

cheers :+1:

[2015-06-16 10:15] tnunes commented on #34
Thanks! :+1:

Cheers

[2015-06-24 05:44] sagiegurari opened #35 "@example not handled properly in case of indentation"
although i'm using the grunt plugin to run this, i'm pretty sure the issue is in this library.
Take a look at the file: https://github.com/sagiegurari/angular-web-notification/blob/master/angular-web-notification.js
at the end there is a example tag and due to the fact that the whole js code is indented properly, the doc is also indented and the entire content of the example in the md gets indente

[2015-06-24 14:17] 75lb commented on #35
you need the `*` at the beginning of each line, including throughout the @example code.. it should look like this
[code]

[2015-06-24 14:17] #35 closed

[2015-06-24 14:54] sagiegurari commented on #35
that actually used to create other problems i remember.
guess things change.
I'll try it out.

[2015-06-29 17:00] jviotti opened #36 "Markdown list nesting not being done correctly."
Currently, nested lists use 2 spaces for indentation:

[code]

Which causes nested lists to not be displayed correctly:

![screenshot 2015-06-29 12 57 08](https://cloud.githubusercontent.com/assets/2192773/8413434/6522c72a-1e5e-11e5-9ed7-87653227c885.png)

According to the markdown documentation, nested lists should be implemented with 4 spaces or 1 tab.

Manually editing `jsdoc-to-markdown` outpu

[2015-06-29 17:15] 75lb commented on #36
Ok, I thanks.. which markdown renderer are you using to view the final
output?

[2015-06-29 17:18] jviotti commented on #36
@75lb I'm using http://marked2app.com.

[2015-06-29 17:22] 75lb commented on #36
Thanks, I will test in that.. fyi, Atom has a great markdown editor and
previewer

[2015-06-29 17:30] jviotti commented on #36
@75lb Thanks for the tip, Marked2 fits me great as a vim user.

[2015-06-29 17:59] jviotti commented on #36
It works fine on GitHub though, so not really high priority for me. I'll also ping Marked2 team to support 2 spaces indentation like GitHub (not standard, but I guess widely used anyway).

[2015-07-17 22:28] techjeffharris opened #37 "TypeError: Object function jsdoc2md(options){...} has no method 'render'"
I'm getting this error when I try to run jsdoc2md as a required module in node.js

     /home/.../.bin/docs.js:127
                         jsdoc2md.render('lib/' + name + '.js').on('error', done).
                                  ^
    TypeError: Object function jsdoc2md(options){
        options = options || {};
        var src = options.src;
        var dmdStream = dmd(options);
        if (sr

[2015-07-18 07:16] 75lb commented on #37
The render method doesn't exist - it's from an old version prior to the v1
release.. check the API docs on the readme..

[2015-07-18 08:05] techjeffharris commented on #37
Thanks, and sorry for the derp :)

[2015-07-18 08:05] #37 closed

[2015-07-18 08:07] 75lb commented on #37
No.problem.. I still have plenty to do on this tool so keep my posted of
any other quirks you don't like

[2015-07-28 08:07] scholtzm opened #38 "Class instance name - last letter is capital"
For some reason the class instance names have last letter capitalized in my docs, e.g.

[code]

[Here are the generated markdown docs.](https://github.com/scholtzm/vapor/blob/master/docs/API.md) Notice how the Utils class is capitalized correctly.

[2015-07-29 21:19] reggi opened #39 "Issue where param has _ renders doc as italic"

[2015-08-05 12:32] ryan-sandy opened #40 "How to replace code tag with backticks?"
How to replace `<code>` tag with backticks (`` ` ``)?

I would like to use jsdoc2md with bitbucket but bitbucket does not render `<code>` tags.

[2015-08-05 12:36] 75lb commented on #40
have you tried the bitbucket plugin?

https://github.com/jsdoc2md/dmd-bitbucket

[2015-08-05 12:38] ryan-sandy commented on #40
I tried, but it hangs. No error. No output.

On Wed, Aug 5, 2015 at 1:36 PM, Lloyd Brookes <notifications@github.com>
wrote:

--
------------------------------
<support@edits.net>EdITS/ERAS
PO Box 7234, San Diego, CA 92167
Ph: (800) 416-1666
www.edits.net • support@edits.netSupport Team <support@edits.net>

<support@edits.net> <support@edits.net>

[2015-08-05 19:01] jviotti opened #41 "Bigger jsdoc-to-markdown use example"
Hi, for a bigger example of `jsdoc-to-markdown` you may like to showcase https://github.com/resin-io/resin-sdk.

There is a `DOCUMENTATION.md` file (https://github.com/resin-io/resin-sdk/blob/master/DOCUMENTATION.md) being generated with `jsdoc-to-markdown`.

[2015-08-06 12:36] ryan-sandy commented on #40
Never mind go it working.

[2015-08-06 12:36] #40 closed

[2015-08-06 12:41] ryan-sandy opened #42 "Command line client arguments order."
Are command line arguments supposed to be trailing? The help states options then source, but that order causes the program to hang. When using trailing options, everything works fine. (ex `jsdoc2md scoure.js --plugin dmd-bitbucket`)

[2015-08-06 12:48] 75lb commented on #42
the arg order doesn't matter.. although if you have issues try passing the filenames under the `--src` option explicitly (as `--src` is the `defaultOption` it will collect up all hanging args (like filenames) if omitted).. so try
[code]
or
[code]

[2015-08-06 12:49] 75lb commented on #42
i've almost finished a rewrite of `command-line-args` with better docs to explain this behaviour better..

[2015-08-08 02:24] reggi opened #43 "Question: Create Individual Markdown files for Each JS File?"
Is something like this possible with the command line? Or do I have to use the node api?

[code]

[2015-08-08 02:37] reggi commented on #43
I'm a little confused about how to use the transform stream with my promise chain. Would appreciate help, or alternative.

[code]

[2015-08-08 11:17] 75lb commented on #43
did you look at the example? https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/scripting/output-file-per-class

[2015-08-08 17:46] reggi commented on #43
Nope I didn't see that. Really fascinating. I'm not 100% confident in my abilities with streams :(

I wen't ahead and made a promise wrapper for `jsdoc2md` here [`jsdoc2md-async`](https://github.com/reggi/node-reggi/blob/master/jsdoc2md-async.js)

[2015-08-09 18:26] #43 closed

[2015-08-11 00:45] reggi opened #44 "Feature Request: Ability to Add JSDoc to File via Comment Block"
I've been wrestling a lot with markdown and jsdoc in general. I'm interested in some extra functionality that `jsdoc2md` doesn't (to my knowledge) provide.

The project by @thlorenz [thlorenz/doctoc](https://github.com/thlorenz/doctoc) adds a table of contents to an existing document. It's in that module's nature to need an existing doc, so it supports this comment syntax

[code]

And if it finds

[2015-08-24 00:16] 75lb commented on #41
hi, sorry for the delay - i have been on holiday.. great docs, nice work.. i notice you use promises, did you know you can use @fulfil and @reject tags? Here's the [example page](https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/tags/custom%20tags%20(e.g.%20%40fulfil%2C%20%40reject)) and [these docs](https://github.com/jesucarr/tokenbucket) show a live example

[2015-08-24 00:16] #41 closed

[2015-08-24 11:41] jviotti commented on #41
@75lb Nice, thanks for the information, will be using those tags soon.

[2015-09-03 14:07] daserge opened #45 "Question: Is there a way to configure underlying jsdoc?"
`jsdoc` allows to pass config path like this:

[code]

Is there a way to do this with `jsdoc-to-markdown` (so that @partial plugin can be used for example)?

[2015-09-03 14:09] 75lb commented on #45
not yet, but it is on my list of things to do.. i will get back to you Sergey!

[2015-09-03 14:18] daserge commented on #45
@75lb, got it, thanks for the quick response!

By the way - is there any workaround for this for now?
Do I get it right that Handlebars templates will not allow to wedge into jsdoc custom tags like @ partial does?

[2015-09-03 14:20] 75lb commented on #45
what are you trying to achieve? I'm sure there's a different, maybe better way, than using @partial.

[2015-09-03 14:25] daserge commented on #45
I need to insert blocks of documentation, which are too big to include them in code, while are still related to the code.

[2015-09-03 14:33] 75lb commented on #45
if i remember correctly it's possible to document an identifier in a separate file..the @typedef tag is documented separately this way - not attached to code..

so if you had a separate file (e.g. `docs.js`) containing only doclets, like these
[code]

then you could include this file in the list of input files to parse
[code]

would this solve your problem? I have never tried it.. this is just a q

[2015-09-04 20:24] daserge commented on #45
@75lb, thanks a lot for the workaround!
I don't think it will fit unfortunately as the large docs chunks are meant to be Markdown, i.e. they have to be editable/previewed on Github.

[2015-09-09 14:52] joanamelo commented on #34
Happening to me as well! On v1.1.1. Would be much appreciated :)

My view: The index of available methods on a module should always be presented (imagine a book with many chapters. One of them only has one subchapter — that will be missing from the index!).

[2015-09-10 23:43] vitaly-t opened #46 "Invalid MD code block conversion"
I have MD style enabled in my jsDoc comments, using \`\` everywhere.

This library converts them into `&#x60;`, which in turn breaks their content and the layout.

**UPDATE:** I've just noticed that list indent of the MD syntax `-` is also not converted correctly, when it is part of `@param`.

[Here's the code documentation](https://github.com/vitaly-t/pg-promise/blob/master/lib/index.js#L998), wh

[2015-09-11 08:50] 75lb commented on #46
hi.. how does it look if you use the `--no-gfm` option? when set, param tables will be rendered using html rather than md, as seen in [this example](https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/example/options/dmd%20options/no-gfm/param-list.md)

[2015-09-11 08:53] vitaly-t commented on #46
How do I change the following file to use that option?
[code]

[2015-09-11 08:55] 75lb commented on #46
on the grunt plugin readme, see the task config in the example labelled `withOptions`

[2015-09-11 08:57] vitaly-t commented on #46
Ok, so I have changed it to:
[code]
But when I run it, the output file is identical to the one without the option. I hope I'm doing it right...

[2015-09-11 08:59] 75lb commented on #46
it should be
[code]

[2015-09-11 09:02] vitaly-t commented on #46
Ops, that's different from what the plug-in suggests....

Anyhow, I've made that change, and it fixed the second problem for lists within `@param`, but the first problem remains.

[2015-09-11 09:04] 75lb commented on #46
it's not, i copied the code from the README (which assumes the reader knows Grunt)

ok, one sec

[2015-09-11 09:19] 75lb commented on #46
can you post you remaining problem please, i wasn't clear from re-reading the original post

[2015-09-11 09:20] vitaly-t commented on #46
In the post just above I showed an example of where \`\` gets converted into `&#x60;`, exepectedly, which breaks to formatting.

[2015-09-11 09:50] tnunes commented on #34
Hi @75lb. Any updates on this issue?

[2015-09-11 09:52] 75lb commented on #34
Hi Tiago, i'm sorry - no update yet.. I'm not sure when it will be fixed as i have so much happening at the moment.. sorry.. PRs welcome..

[2015-09-11 12:40] vitaly-t commented on #46
Is the problem reproducible on your end?

[2015-09-11 12:44] 75lb commented on #46
that's strange.. i replied to this 3 hours ago from email, but my response is not showing..

regarding `&#x60;text&#x60`: if you are using the `--no-gfm` option then your output will be html, not markdown.. so in this case use `<code>text</code>` - i.e. html, not backticks.

[2015-09-11 12:46] vitaly-t commented on #46
Do you mean, specifically for `@summary`? It seems to work everywhere else. That's what strange.

[2015-09-11 12:53] 75lb commented on #46
will take a closer look later..

just for the record, the `--no-gfm` option will affect the @param output, but does not affect the @summary tag output as it doesn't use gfm..

[2015-09-11 12:54] vitaly-t commented on #46
And I just tried, got [even worse results](https://github.com/vitaly-t/pg-promise/blob/master/API.md#databasefuncfuncname-values-qrm--promise)

It completely fails to process the `@summary` contents. Looks like something is broken in `@summary` support.

[2015-09-11 12:57] 75lb commented on #46
ok, thanks.. i have a feeling this might be caused by an update to a module jsdoc2md uses under the hood, it needs a closer look.. use of `&#x60;` it's not something i've written..

[2015-09-16 16:21] daserge opened #47 "Question: Source code links"
Is there a way to enable Github source code linking like [Dokker](http://dokkerjs.com/) does?

[2015-09-16 16:27] 75lb commented on #47
it's not in the current version, but we could add that.. will look into it when i can (not sure when yet).. PR welcome, if you have a solution..

[2015-09-16 16:34] daserge commented on #47
Got it, thanks, @75lb.

[2015-09-24 12:20] vitaly-t opened #48 "Moving @return + @see to the bottom"
I am generating separate MD files for each method, using [grunt-jsdoc-to-markdown](https://github.com/jsdoc2md/grunt-jsdoc-to-markdown).

What I'd like to change in the output though, is to have the `@return` + `@see`sections appear at the bottom, after all the @parameter entries, like in any standard API documentation, and not before it. Is there a way to accomplish this?

In addition, I also wou

[2015-09-24 13:27] 75lb commented on #48
Yes, have a look at the dmd readme.. You can create your own body.hbs
partial locally and pass it to `--partial`

[2015-09-24 14:05] vitaly-t commented on #48
@75lb

I just had a look at the HBS files, couldn't find an example of how to reorganize specific elements in the template as I explained in my example, regarding `@return`, `@see`, `@summary` and `@description`.

Do you know of any template showing how to do that? I just want an example.

Also, how to connect it within grunt-jsdoc-to-markdown.

[2015-09-24 14:08] 75lb commented on #48
Create a local copy of this file with your edits

https://github.com/jsdoc2md/dmd/blob/master/partials/all-docs/docs/body/body.hbs

Pass it's filename as the `partial ` option in grunt config

[2015-09-24 14:11] vitaly-t commented on #48
@75lb thank you!

[2015-09-24 14:26] 75lb commented on #48
You're welcome

[2015-09-24 18:07] vitaly-t commented on #48
I was just able run some tests with this, and don't seem to get any results here...

Following your suggestion I created file `docs/template.hbs`, with content:
[code]
then I changed my `gruntfile.js` to:
[code]
And I'm getting exactly the same results as before, it seems to either not find the template, or maybe ignores - I don't know, but it reports no problems, runs exactly as before.

Any idea

[2015-09-24 19:36] 75lb commented on #48
you grunt config looks fine.. i just tested a custom `partial` with the grunt plugin and it works as expected..

what version of grunt-jsdoc-to-markdown, node and npm are you on?

[2015-09-24 20:37] vitaly-t commented on #48
That is strange indeed. Must be something trivial, because the explanation was clear, but it just doesn't work.

My version of grunt-jsdoc-to-markdown is 1.1.1, and npm version is 2.6.0

Maybe it will be simpler if you have a quick look at the small library where I'm trying to use it, and see if you can spot what is wrong?

The library is [spex](https://github.com/vitaly-t/spex), and you can insta

[2015-09-24 21:02] 75lb commented on #48
sorry, maybe i didn't document it but partial filename is significant.. if you're overriding `body.hbs` then your local file *must* also be `body.hbs`.. rename `template.hbs` to `body.hbs` and update your config

[code]

[2015-09-24 21:22] vitaly-t commented on #48
Huh, that now works! :)

[2015-09-24 21:47] vitaly-t commented on #48
A little unrelated, but when I use in `body.hbs`
[code]
It removes the line break before `---`, which in turn breaks the formatting.

How to overcome this?

[2015-09-25 07:36] 75lb commented on #48
The ~ character removes whitespace, see the handlebars docs

[2015-09-25 08:23] vitaly-t commented on #48
Thank you for your help!

[2015-09-25 08:23] #48 closed

[2015-09-27 18:29] jmealo opened #49 "@see {@link} inside a @module does not transform anchor links"
Kudos on the project!

I noticed the following behavior when trying to use the ``@see`` tag to link to another method in a module named ``util``.

**Input:**
[code]

**Actual Output:**
[code]

**Expected output:**
[code]

**To reproduce:**
[code]

**Currently generates:**
[code]

**Should generate:**
[code]

[2015-09-27 18:30] jmealo commented on #4
@75lb is possible to add #49 to this with your other @see work

[2015-09-27 18:39] #49 closed

[2015-09-27 18:41] jmealo commented on #49
I guess it's somewhat to obvious to anyone who knows the internals... you must do:
[code]

I tested in jsdoc to confirm the behavior in jsdoc2md was incorrect. In jsdoc it didn't even linkify the text, so I'd say the current behavior isn't broken. However, if you see the link and you don't try it, you're likely to assume that it worked. Not linking it at all at least lets you know you're doing it

[2015-10-04 00:58] jviotti opened #50 "Outputting a single function with templates"
How can I output a single function (the whole documentation, not just the name) of a certain module in a `hbs` template file? This is not very clear in the selector helpers documentation.

[2015-10-04 01:15] jviotti commented on #50
After some experimentation with Handlebars and after checking https://github.com/jsdoc2md/dmd, I was able to accomplish it with the following snippet:

[code]

Thank you very much, closing this issue!

[2015-10-04 01:15] #50 closed

[2015-10-04 09:58] 75lb commented on #50
yes, you're right - it's not very clear.. i will have more time to fix this in the near future..

[2015-10-14 13:19] borisovg opened #51 "@event @type is not printed"
There's no mention of type in in the output for event (output in #9 suggests there once was).

Source:

[code]

Output:

[code]

[2015-10-14 13:30] 75lb commented on #51
handbrake-js is a project with documented events - the event docs on this project generate fine..

this source
[code]

...generates [this output](https://github.com/75lb/handbrake-js#module_handbrake-js..Handbrake+event_progress)

[2015-10-14 13:33] 75lb commented on #51
yes, i agree the `@type` field is ignored.. because the event can pass more than 1 type to the event handler..  instead, define the args the the event fires with as `@param`, as in my example..

[2015-10-14 13:35] thomaslund opened #52 "Html anchors for extended methods seems broken"
It seems like there is an issue with linking of methods from extended classes.
Looking at [your example](https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/example/options/dmd%20options/name-format/readme.md), FurQ extends Rapper.
Rapper has two methods ```.spit()``` and ```.battle()```. If i click on Rapper.battle(), it links to FurQ.battle() which is not expected. I expect this to take me

[2015-10-14 15:00] 75lb commented on #52
confirmed, thanks..

[2015-10-14 17:16] borisovg commented on #51
That doesn't seem right though - the data that an event sends in not a parameter - it might be a parameter in the listener callback and be documented there as such, but for the event it is not.

jsdoc documentation specifically uses @type and @property in the @event example:

http://usejsdoc.org/tags-event.html

[2015-10-14 17:19] 75lb commented on #51
both the jsdoc and handbrake-js examples are correct.. they should both be supported (both the @type and @param) method.. the @type method isn't supported yet but it will be in future.

[2015-10-16 23:10] g-ortuno opened #53 "enum not being added to doc"
I recently did `npm install` on a repo and now `enum`s are not being added to the doc. There were no changes in my code:

https://travis-ci.org/g-ortuno/eddystone#L505

[2015-10-17 13:07] 75lb commented on #53
[this project](https://github.com/75lb/ansi-escape-sequences) makes use of @enum - i just regenerated the docs and everything works fine.. i can't reproduce your issue..

please send a failing code example.. also, which version of node do you have? and which OS?

[2015-10-17 13:08] #47 closed

[2015-10-18 01:57] g-ortuno commented on #53
I was able to reproduce. Not sure if I miss something obvious, but whenever the docs are inside an function or arrow function nothing gets generated. This repo has the code:

https://github.com/g-ortuno/jsdoc-in-function

[2015-10-18 02:04] g-ortuno commented on #53
I use OSX and node 4.2.1

[2015-10-18 10:19] 75lb commented on #53
ok.. thanks for the extra info.. this is a known jsdoc issue with Immediate Invoked Function Expressions (IIFE).. if you look at the jsdoc-parse output (below), it shows the const `EddystoneFrameType` is a `"memberof": "<anonymous>"`.. however, a parent with the ID of `<anonymous>` does not exist in the data, so its children (your const) are never displayed..

will look into it, thanks for the rep

[2015-10-18 10:20] 75lb commented on #53
duplicate of #29

[2015-10-18 11:08] 75lb commented on #53
the change in your output you saw recently was probably because i released a change introducing arrow function support..

[2015-10-18 18:14] g-ortuno commented on #53
thanks!

[2015-10-22 08:11] daserge commented on #47
Filed PRs for this feature, @75lb, can you please take a look?
https://github.com/jsdoc2md/ddata/pull/3
https://github.com/jsdoc2md/dmd/pull/25
https://github.com/jsdoc2md/jsdoc-parse/pull/11

[2015-10-22 10:19] 75lb commented on #47
will pull later today - thanks for the contribution
On 22 Oct 2015 09:11, "Sergey Shakhnazarov" <notifications@github.com>
wrote:

[2015-10-22 16:24] 75lb commented on #47
thanks.. playing with it now.. a few initial thoughts

1. I think it should be optional feature, not the default (easy fix)
2. "S" symbol rather large and significant-looking for an aside..  (easy fix: make superscript)
3. will it work for Bitbucket and Github Enterprise users? (will check)
4. This implementation assumes all input source comes from the same repo.. this is not always the case, we c

[2015-10-22 16:44] daserge commented on #47
Regarding point `4.` - theoretically we could extract the address from a project' package.json (`repository.url`) file if it exists.

[2015-10-23 10:13] daserge commented on #47
Updated the PRs to address `1.` and `2.`, @75lb, please take a look.

[2015-10-23 12:27] 75lb commented on #47
ok, thanks.. i've had a look and a think.. i would prefer to implement this feature as a dmd plugin because i'm not quite ready to support it for all use cases in the main app.. however, this would require me to upgrade dmd a bit too..

are you in a rush for this feature? I'm very close to beginning a major refactor of jsdoc2md, i have significant structural changes planned.. no features will be l

[2015-10-23 12:45] daserge commented on #47
Sure, thanks!

[2015-11-07 17:35] BHare1985 opened #54 "⇒ (=>) not showing on chrome"
See https://github.com/BHare1985/BinaryQuadkey on chrome 46.0.2490.80 with windows

Shows: ![Image of exmaple](http://i.imgur.com/Vu51W2j.png)

It may be better to pick a symbol that is more universal and renders on all browsers?

[2015-11-07 17:36] BHare1985 opened #55 "Multiline not working on some markdown sites"
On NPM the multiline examples aren't working:

https://www.npmjs.com/package/binaryquadkey

Not sure if github is your only md target or not.

[2015-11-07 18:02] 75lb commented on #54
Hi, which version of windows?

[2015-11-07 21:56] 75lb commented on #55
interesting.. something, somewhere is using the windows carriage return character (`^m` or `\r`) as a line ending in the rendered `@example` output.. it's not something jsdoc2md does deliberately.. which version of Windows are you on? (so i can reproduce)

in the meantime, you can fix this by running a tool over your README.md which normalises line endings to use the unix standard of `\n`

[2015-11-08 00:28] BHare1985 commented on #55
I am running windows 10

[2015-11-08 00:28] BHare1985 commented on #54
windows 10

[2015-11-12 11:06] vvo opened #56 "Why the stream interface?"
Hi, nice project! We use it internally at Algolia.

I was wondering, it seems like jsdoc2md() return a stream but this stream actually only send one data event. So I was wondering what was the reasoning behind making this a stream interface while it's only having a single data event?

As we use it in a programmatic way and output one file per function we document, we had to use a weird construct w

[2015-11-12 11:34] 75lb commented on #56
version 2.0.0 (dev to start soon) will have multiple interfaces, not only stream..

a synchronous interface will be added for users of node >=0.12 (thanks to `child_process.spawnSync`).. There'll be an async method too which node 0.10 users can use.

the stream interface was initially implemented as the jsdoc2md output was typically piped to either file or stdout.. there are many modules to collec

[2015-11-12 14:17] vvo commented on #56
Thanks a lot for your openness about my question on the stream interface.

You can see how we use you here: https://github.com/algolia/instantsearch.js/blob/master/scripts/doc/gen-widget-doc.js a lil bit hacky :) (cc @bobylito who did the original script and used the module first).

[2015-11-12 17:15] 75lb commented on #56
i agree, we need sync and async interfaces too - not only stream.. I'm leaving this issue open until it is addressed..  for async use, a Promises interface might be better, for example

[code]

meanwhile, i tidied the example script (on which @bobylito 's script is based) [here](https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/example/scripting/output-file-per-class/render.js).. you can s

[2015-11-23 23:06] garie opened #57 "How can I escape curly brackets?"
I have a JSDuck comment that has curly brackets in it. It causes an error when run through jsdoc2md.

Example:

[code]

Error:

[code]

Is there a way to escape these curly brackets?

[2015-11-24 09:46] 75lb commented on #57
jsdoc2md uses jsdoc under the hood.. is jsduck compatible with jsdoc? if your docs don't build using [jsdoc](http://usejsdoc.org/) they won't build with jsdoc2md, either..

[2015-11-24 09:47] 75lb commented on #57
the curly brackets are not the issue - i use them in doclets all the time.. the doclet you posted doesn't have a single tag in it, which is a problem..

[2015-11-24 09:47] #57 closed

[2015-12-01 20:15] g-ortuno commented on #29
Any updates on this?

[2015-12-01 20:19] 75lb commented on #29
hi, not yet but i plan to begin work on jsdoc2md v2 very soon - hopefully within a week or two.. this, and all issues will be addressed.

[2015-12-05 14:31] 75lb commented on #55
hi, is this still an issue (with the latest version)?

[2015-12-05 15:30] #53 closed

[2015-12-05 23:21] 75lb commented on #46
Hi Vitaly, are you still having this issue?

[2015-12-06 06:02] vitaly-t commented on #46
Well, no, because I had to use a work-around, and avoid using code blocks within summary. Has it been fixed? If so, I will try it next time.

[2015-12-06 21:43] 75lb commented on #29
just as a bit of background, lack of IIFE support is a long-running issue with jsdoc (see [here](https://github.com/jsdoc3/jsdoc/issues/456), [here](https://github.com/jsdoc3/jsdoc/issues/442)).. some workarounds are suggested in the comments, [this one](https://github.com/jsdoc3/jsdoc/issues/442#issuecomment-30307214) seems worth a try..

meanwhile i'll have a think how to represent these docs in

[2015-12-07 11:22] 75lb commented on #29
The main issue with an IIFE is scope.. should doclets inside an IIFE be marked as global? Module scope? As a member of an object? Jsdoc has not addressed this issues in years, i think because it's very difficult to answer these questions with static analysis - so we are expected to provide clues using tags like `@public`, `@alias` etc.

@g-ortuno I had a look at your project and sent a [PR](https:

[2015-12-07 13:20] #46 closed

[2015-12-07 13:53] 75lb commented on #46
привет виталий, i apologise for the delay.. the "backticks in summary" issue has been fixed and released, please update your jsdoc2md plugin.

i looked at your documentation - great work.. i noticed you return promises, in my opinion it's cleaner to document them using `@fulfil` and `@reject` tags (custom tags - you can use any tag you like in jsdoc2md).

I documented `database.connect()` [here](h

[2015-12-07 13:59] vitaly-t commented on #46
@75lb Thank you! :+1:

[2015-12-07 14:54] 75lb commented on #54
hi! i just installed a Windows10 virtual machine with Chrome 47.0.2526.73 on it.. everything looks fine, IE too..

Something seems wrong as `⇒` is a common character from the [basic multilingual plane](https://en.wikibooks.org/wiki/Unicode/Character_reference/2000-2FFF)..  can you reproduce this issue on other machines?

[2015-12-07 17:04] 75lb commented on #54
i forgot to add the screenshot..
![screen shot 2015-12-07 at 14 48 16](https://cloud.githubusercontent.com/assets/1247980/11633686/85dceb24-9d04-11e5-8048-074ba79e3d1b.png)

[2015-12-07 17:04] #54 closed

[2015-12-09 10:45] 75lb commented on #45
released in jsdoc2md v1.3.0 - see the `--conf` option

[2015-12-09 10:45] #45 closed

[2015-12-09 10:50] #42 closed

[2015-12-09 10:55] #33 closed

[2015-12-09 11:02] 75lb commented on #38
i apologise for the delay!

you can override the parent object name in child property docs using `@typicalname`.. i sent a PR to demonstrate this.. he's how the output looks:
https://github.com/75lb/vapor/blob/master/docs/API.md

[2015-12-09 11:02] #38 closed

[2015-12-09 11:10] scholtzm commented on #38
Alright, thanks. However, how come the Utils class doesn't need this and the API class does?

[2015-12-09 11:27] 75lb commented on #38
hi! it's because dmd attempts to camelCase the parent object name for member docs.. but it's quite an opinionated arena and not everyone likes the auto-camel-case output.. for example, should 'JSONStream' camelCase to 'jsonStream', 'jSONStream' or 'jsoNStream'? The correct answer differs from case to case..

the solution - set your own `@typicalname`

[2015-12-09 11:28] 75lb commented on #38
`@typicalname` is documented briefly at the top of [jsdoc-parse](https://github.com/jsdoc2md/jsdoc-parse)

[2015-12-09 11:29] scholtzm commented on #38
That makes sense, thanks for the explanation.

[2015-12-09 11:38] 75lb commented on #44
hi! jsdoc2md currently uses handlebars for templating, see the `--template` option.. in the future it will use plain ES6 Template Strings.

[2015-12-09 11:38] #44 closed

[2015-12-09 11:48] 75lb commented on #39
i can't reproduce this, can you send me a failing example please?

[2015-12-09 11:49] 75lb commented on #39
also, let me know *where* you see it failing.. github, npm, something else?

[2015-12-09 14:38] #34 closed

[2015-12-09 15:34] #36 closed

[2015-12-09 15:40] 75lb commented on #36
fix released, please update and let me know if you have any more issues!

[2015-12-09 15:50] 75lb commented on #34
Fixed in the latest version. You need to set your preferred "minimum descendants" value in your project config.

In the projects which require this setting, you can either add `dmd` config to your package.json:
[code]

or create a separate file called `.dmd.json` in the project root, with this content:
[code]

[2015-12-09 15:58] reggi commented on #44
thx

[2015-12-09 16:08] reggi commented on #39
The idea here would be to replace underscores with the HTML entity `&#95;` because some markdown parsers see the `_` and think italic and want to italic all that comes after, github's parser is a little smarter as shown [here](https://gist.github.com/reggi/7591dcc5fd1b4d5b5e65).

[code]

However as you can see here, atom's is not.

![screen shot 2015-12-09 at 11 05 51 am](https://cloud.githubuserc

[2015-12-09 16:49] 75lb commented on #39
which version of Atom is that? I can't reproduce it in Atom Stable or Beta..

![screen shot 2015-12-09 at 16 47 01](https://cloud.githubusercontent.com/assets/1247980/11691805/9baec580-9e94-11e5-98af-f3e62e713dde.png)

Closing as the current output is valid markdown.

[2015-12-09 16:49] #39 closed

[2015-12-14 17:48] tnunes commented on #34
Thanks for this! Best.

[2015-12-18 18:00] vitaly-t opened #59 "List of methods broken"
I noticed this issue started happening not so long ago, which wasn't happening before...

* [Database](https://github.com/vitaly-t/pg-promise/blob/f8693c6a6209d06e89653794209c562812089329/API/README.md#module_pg-promise.Database)
* [Task](https://github.com/vitaly-t/pg-promise/blob/f8693c6a6209d06e89653794209c562812089329/API/README.md#module_pg-promise.Task)

All my types now have their list of m

[2015-12-18 18:22] 75lb commented on #59
Thanks for letting me know, will fix as soon as i can

[2015-12-19 23:34] #59 closed

[2015-12-19 23:44] 75lb commented on #59
fixed and released in dmd 1.3.3, please upgrade your plugin to pick it up.. thanks again :+1:

[2015-12-19 23:45] 75lb commented on #55
closing until i get feedback

[2015-12-19 23:57] #22 closed

[2015-12-20 00:53] vitaly-t commented on #59
Doesn't quite do the trick, because in my project I'm using `grunt-jsdoc-to-markdown`, which has dependency directly on version `1.3.1`. Perhaps you should release `grunt-jsdoc-to-markdown` with dependency set as `1.3`, which is the same as `1.3.x`, so the changed are picked up.

[2015-12-20 08:49] 75lb commented on #59
it does do the trick.. the fix was released in **dmd 1.3.3**.. trash your node_modules then reinstall, you will see `dmd 1.3.3` in the `npm ls` tree..

in case you haven't noticed, npm version 3 has been a nightmare so far.. in case you don't have it already, please ensure you have the latest version `npm i -g npm@next`..

[2015-12-20 09:05] vitaly-t commented on #59
I think you didn't follow what I said about the dependency...

The latest version of `grunt-jsdoc-to-markdown` that you released is 1.2.0, which is set to use strictly version `1.3.1` of `jsdoc-to-markdown`. Deleting or reinstalling dependencies got nothing to do with that.

You need to update `grunt-jsdoc-to-markdown`, so it is either updated to the latest `1.3.2` of `jsdoc-to-markdown`, or set i

[2015-12-20 09:24] 75lb commented on #59
grunt-jsdoc-to-markdown [has a dependency](https://github.com/jsdoc2md/grunt-jsdoc-to-markdown/blob/master/package.json#L26) on `^1.3.1`, **not** `1.3.1`.

[2015-12-31 16:09] whitlockjc opened #60 "default parameter values always wrapped in quotes"
Whenever a `@param` tag sets a default value, the rendered value is always in quotes.  I never noticed this before but it came up recently at [json-refs/issues/51](https://github.com/whitlockjc/json-refs/issues/51).  The more I think about it, it can be somewhat confusing to have all values wrapped in quotes because as reported, it does suggest that the value is a string.  Thoughts?

[2015-12-31 16:15] 75lb commented on #60
yeah, i know :confused: i [raised this](https://github.com/jsdoc3/jsdoc/issues/900) a year ago with jsdoc3..  i think an effort was made to fix it, but the solution is either incomplete or has regressed..

i will investigate it again..

[2015-12-31 16:16] whitlockjc commented on #60
Much appreciated.  I'll keep an eye out but if it's out of your control, I'm not too worried about it.

[2015-12-31 16:21] 75lb commented on #60
ok.. many jsdoc3 issues are out of my control - in which case i apply fixes downstream (either in [my jsdoc fork](https://github.com/jsdoc2md/jsdoc) or jsdoc-parse)..

[2015-12-31 19:47] 75lb commented on #60
i've been playing with param defaults, take a look [here](https://github.com/jsdoc2md/testbed/blob/master/build/global/param-default/3-dmd.md).. you can see how the default array `[ 1, 2, 3 ]` is marked as a string when the type is `string | Array` but an array when `Array | string`..

so, as a temporary workaround try swapping the types around so the type of the default value is first.. long-term

[2016-01-01 16:48] 75lb commented on #56
to give a taste of the direction the modules are going, i created a new module [jsdoc-api](https://github.com/jsdoc2md/jsdoc-api) which gives direct, programmatic access to the raw jsdoc output.. it has sync, async and streaming interfaces.. the next versions of jsdoc-parse, dmd, jsdoc2md etc. will have the same options.

[2016-01-01 20:34] bobylito commented on #56
:+1: Nice @75lb :)

[2016-01-02 20:13] whitlockjc commented on #60
Thanks a lot.

[2016-01-04 11:20] vvo commented on #56
Awesome, I am currently using your modified script version with collectJson

[2016-01-04 14:13] vvo opened #61 "object spread operator not supported"
Modifying any class from https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/src to add:

[code]

And running render.js from https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/scripting/output-file-per-class will not output anything.

Indeed the parsing is failing. It seems that the object spread operator is not supported while it should (there's somewhere a "experimen

[2016-01-04 14:14] vvo opened #62 "error are not thrown"
Following #61, the error should be thrown as an uncaught exception by default.

This is the behavior of any EventEmitter: if no one is listening to the error event, throw a global error.

But it seems jsdoc-to-markdown is not following this, do you have any idea why?

[2016-01-04 14:22] 75lb commented on #61
hi! did you mean this?

[code]

[2016-01-04 14:39] vvo commented on #61
Hi, no really on an object, this is stage 2 proposal https://github.com/sebmarkbage/ecmascript-rest-spread which means "maybe" but is used everywhere in React examples for instance.

It seems that it should be supported: https://github.com/jsdoc3/jsdoc/search?utf8=%E2%9C%93&q=experimentalObjectRestSpread.

This is the error I get:

[code]

[2016-01-04 14:40] vvo commented on #61
This syntax is used to do things like: https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&code=var%20obj%20%3D%20%7Bone%3A%201%7D%3B%0Avar%20obj2%20%3D%20%7B...obj%2C%20two%3A%202%7D%0Aconsole.log(obj2)

[2016-01-04 14:50] 75lb commented on #62
yes, it should throw - i will investigate..

are you 100% sure there is not a `process.on('uncaughtException', function(err) {})` in your codebase?

[2016-01-04 14:54] 75lb commented on #61
hmm, i've never seen jsdoc fail inside `jsdoc/src/astnode.js` before.. if you think jsdoc3 *should* support this feature but is failing then we may have found a bug.. i will have a play with it this evening and make a suggestion to jsdoc3 if necessary.

[2016-01-04 14:57] vvo commented on #61
OK to test it I only modified one of the example to add this

[code]

in a constructor, then render.js fails

[2016-01-04 14:57] vvo commented on #61
Hope you can help us!

[2016-01-04 14:58] vvo commented on #62
Yep, you can definitely try this in your own render.js example by adding what makes it fails in #61 (node v4)

[2016-01-04 15:09] 75lb commented on #61
this syntax `this.fakeKey = {...this.fakeKey}` does not parse with jsdoc.. i tried using jsdoc directly on the code and it fails.. i'm afraid you need to raise an issue with jsdoc3, it is outside my control.. link back to this thread so i can monitor the issue, please.

[2016-01-04 15:17] vvo commented on #61
Ok thanks, I will try to do a reduced test case on the jsdoc module and open an issue

[2016-01-04 15:22] 75lb commented on #61
simple reproduction case..

input:
[code]

output:
[code]

[2016-01-04 15:33] vvo commented on #61
should not work with an array but just an object:

[code]

[2016-01-04 15:35] 75lb commented on #61
ah, ok - thanks..

[2016-01-04 22:03] 75lb commented on #62
this was a difficult issue to isolate.. i tracked it down to the behaviour of node itself.. I'm [waiting for an answer](https://github.com/nodejs/node/issues/4533) from them..

[2016-01-04 22:40] #62 closed

[2016-01-04 22:57] 75lb commented on #62
fixed and released upstream in jsdoc-api.. if you update jsdoc2md you should find unhandled 'error' events are thrown, again.

thanks again for the report :+1:

[2016-01-05 09:19] vvo commented on #62
Awesome!

[2016-01-05 09:20] vvo commented on #62
Do you need to bump jsdoc-to-markdown?

[2016-01-05 09:40] 75lb commented on #62
the module stack looks something like this:
[code]

the fix for this issue was in jsdoc-api.. Now, i could also bump the versions of each module above it in the stack but it's time consuming and would result in hundreds of patch releases in total, over time..

new installs will pick up the correct modules.. next time you `npm update` your local project you will also pick up the release :+1:

[2016-01-05 09:41] vvo commented on #62
thx

[2016-01-05 09:43] 75lb commented on #62
no problem, thanks for the reports!

[2016-01-05 17:11] vvo commented on #61
Ok done here: https://github.com/jsdoc3/jsdoc/pull/1141

[2016-01-05 17:12] vvo commented on #61
Can you maybe backport this commit in your jsdoc fork so we can move on... :)

[2016-01-05 17:18] 75lb commented on #61
Yep :-) will look at that tonight.

[2016-01-05 19:38] 75lb commented on #61
patch [landed in the jsdoc2md fork](https://github.com/jsdoc2md/jsdoc/commit/92e865f7095f714f6754f39ff2984112eac02d55), released in v3.5.2.. thanks again! please `npm update`

[2016-01-05 19:38] #61 closed

[2016-01-05 20:02] vvo commented on #61
weeeeeeeeee!!!

[2016-01-05 20:03] 75lb commented on #61
hehe :)

[2016-01-06 08:33] vvo commented on #61
quick update, it was merged in main jsdoc project

[2016-01-08 21:57] 75lb commented on #47
hi Sergey! Did you implement the source code links feature somewhere? Do you have some generated docs with source code links i could look at? I might include it in jsdoc2md v2..

[2016-01-09 17:47] daserge commented on #47
Hi Lloyd, yes the source links feature lives in my forks:
https://github.com/jsdoc2md/ddata/pull/3
https://github.com/jsdoc2md/dmd/pull/25
https://github.com/jsdoc2md/jsdoc-parse/pull/11

And the sample:
https://github.com/MSOpenTech/cordova-plugin-camera/blob/505f1a0441eb8f8e2ea07a56dbef46c6238957fc/README.md

Please let me know if I should reopen the PRs.

[2016-01-10 10:08] 75lb commented on #47
ok, thanks.. I am making progress with jsdoc2md2 - we can publish this feature as a plugin/add-on.. no need to reopen the PRs - they are for the old version.. i will get back to you soon with more info.

[2016-01-16 02:27] srl295 opened #63 "@callback and @module?"
The `@callback` use as in  http://usejsdoc.org/tags-callback.html works for the  standalone case ( `jsdoc2md foo.js > foo.md` ).

However, I'm trying to use a template to generate my `README.md`. Until I discovered the `{{>main}}` partial, it seemed like using a `@module` was the only way to get docs included ( module-less files throw an error with `{{>docs}}`, etc. Not sure if that's a bug or not

[2016-01-16 13:55] #4 closed

[2016-01-16 17:17] 75lb commented on #63
this is about name paths.. when you make a function a member of a module it's namepath changes to reflect its new parent.. so the callback name in the example is no longer valid as it doesn't indicate membership of the module.. I'm in the restaurant , will answer properly later

[2016-01-22 14:11] 75lb commented on #63
sorry about the delay! `@callback` works fine, you just need to give it the correct [namepath](http://usejsdoc.org/about-namepaths.html).. So, if your callback is an inner member of a module it will need a namepath like `@callback module:example~callbackName`..

please let me know if you have any more issues.

[2016-01-22 14:11] #63 closed

[2016-01-24 17:06] nathanmarks opened #64 "Issues regarding es6 modules and export syntax"
Hey,

FYI, I fully understand that some issues are out of your control. But i'd love if you were able to point out where jsdoc causes the issues as you're far more familiar with it than I am.

**Problem 1 - named exports:** Cannot seem to get named exports to show properly.

Example code:
[code]

This ends up being displayed in the output as a static member of the module. I tried playing around wi

[2016-01-24 17:24] nathanmarks commented on #64
@75lb here's an example where an exported function is not tagged as an export, simply represented as a static member of the module: https://github.com/nathanmarks/js-module-boilerplate#js-module-boilerplateinfo--string

Not to say that isn't correct -- but it'd be nice to be able to have it say "exported function" and be as obvious to the user as:

[code]

It'd be great if there was a way to be ab

[2016-01-24 20:43] nathanmarks commented on #64
Here's the `jsdoc-parse` output from the basic example in that repo:

[code]

[2016-01-24 21:05] nathanmarks commented on #64
Here is the jsdoc explanation `-X`

[code]

Looks like we get a reference to it being an export here: `"name": "exports.info",`

[2016-01-24 21:44] nathanmarks commented on #64
Additionally, it looks default exports, while picked up, are presented in the resulting markdown as `module.exports() => ....` which is not the case exactly. In es5, to access the module "default" you'd actually have to do `require('module-name').default` as the babel output is like so:

[code]

I wonder if we can responsibly macgyver a solution here to present these exports in an obvious manner.

[2016-01-24 21:57] nathanmarks commented on #64
Some more related, strange behaviour is the handling of inner members in the same file as a default export.

For example, this is data from the `jsdoc` explanation:
[code]

However, after going through `jsdoc-parse`, we see this:
[code]

Which is definitely not correct, it's not an inner constant of `module.exports` which is how it gets listed in the resulting markdown:

#### module.exports~jsModu

[2016-01-24 22:12] nathanmarks commented on #64
The last problem I mentioned, I've tracked down to line 43 of transform.js in jsdoc-parse.

[code]

Loops through anything else in that module and applies the new ID to the name, resulting in the behaviour i described in the last comment

[2016-01-24 22:14] 75lb commented on #64
hi there..

this is how I document default exports.. inside [this folder](https://github.com/jsdoc2md/testbed/tree/master/build/global/es6-modules-default2) you can each stage of the process, from source code to dmd output (the final jsdoc2md output).. to get the correct docs we need an `@alias`, exactly as we do currently with CommonJS/AMD modules.

[this folder](https://github.com/jsdoc2md/testb

[2016-01-24 22:19] nathanmarks commented on #64
Hey @75lb,

One problem with that is the exports from an ES6 style codebase using babel 6 will export a default export using:

[code]

Which means that anyone using ES5 to `require()` the module needs to do `require().default`. The documentation is unable to reflect this easily.

Also, in your examples, the "kind" says:

**Kind**: static constant of <code>[es6-modules-named](#module_es6-modules-na

[2016-01-24 22:20] nathanmarks commented on #64
Adding the following code to `setIsExportedFlag()` in `jsdoc-parse/lib/transform.js` results in it detecting these named exports properly:

[code]

![image](https://cloud.githubusercontent.com/assets/4420103/12539369/d3a2fd00-c2be-11e5-9495-faa9c24763eb.png)

[2016-01-24 22:25] nathanmarks commented on #64
Is there an easy way to skip this part of the transform?

[code]

Also, I noticed that exports as seen here: https://github.com/jsdoc2md/testbed/blob/master/build/global/es6-modules-default/3-dmd.md

Don't include the module link in the "**Kind: Exported function" text -- would be nice for it to link to the module (much like any other members do if not exported)

[2016-01-24 22:26] 75lb commented on #64
compiled Typescript, Babel, Coffeescript etc. is definitely beyond my control.. and jsdoc3 control.. not sure how to fix that.. not sure whether i should "teach" jsdoc-parse to detect the peculiarities of each compiler.. normally we'd address a problem like this with a separate module downstream of jsdoc-parse..

the `Kind: static constant of es6-modules-named` text is correct.. this is exactly ho

[2016-01-24 22:31] 75lb commented on #64
it works this way for [CommonJS exported functions](https://github.com/jsdoc2md/testbed/blob/master/build/commonjs/function-alias/3-dmd.md) too.. i didn't think the link was necessary in this case but i'll bare that in mind for jsdoc2md version 2 (in progress).. in v2 it will be much easier to make your own personalisations.

[2016-01-24 22:34] 75lb commented on #64
you can skip that part of the transformation in your own fork, for now..  (obviously, that step of the transformation is required by all other use cases)

[2016-01-24 22:43] nathanmarks commented on #64
@75lb

I understand about the default export (just looked at the output from jsdoc -X, it shoves it right into `module.exports` without mentioning the fact that it actually compiles to `exports.default` (essentially a property of the exports object for CommonJS).

Thanks for the clarification.

I'm looking at the default behaviour now -- and I see that `jsdoc` itself is responsible for the biggest

[2016-01-24 22:47] nathanmarks commented on #64
Here's how the current documentation output makes me envisage the actual code and how to access the different parts:

[code]

When in actuality, it's quite a bit different than that. `info` is a named export and part of the `module.exports` object (as is 'default' if we're being technical). Whereas `jsModule` is an inner constant of the module itself, not the default export.

[2016-01-24 22:53] 75lb commented on #64
are you running jsdoc2md against your ES6 source code or the Babel output? also, does jsdoc3 render acceptable docs from your source?

[2016-01-24 22:57] nathanmarks commented on #64
@75lb es6, documenting the babel output doesn't even identify the functions as exports at all -- just "inner method".

[2016-01-24 23:00] nathanmarks commented on #64
FWIW the jsdoc html output doesn't recognize the named exports at all, and even prints out invalid es5 code:

[code]

Which would not work without the babel interop function for default exports. There's related info in this thread here:
https://github.com/Microsoft/TypeScript/issues/2719

[2016-01-24 23:16] nathanmarks commented on #64
Correction to my prev comment -- I suppose that `jsdoc` does document them "correctly" (below the inner/"private" object as a static method). Seems strange that exported functions are output with little importance attached to them (below the inner constant which you can't even directly access)

[2016-01-24 23:51] #64 closed

[2016-01-24 23:53] nathanmarks commented on #64
@75lb I'm was about to write an issue on the jsdoc repo but would appreciate your input on the issue

If we're documenting with "es6 module" (not *really* a thing since there is no native support yet) users in mind, documenting a default export as `module.exports()` rather than `module.exports.default()` is correct as that is the expected es6 module behaviour.

However, it seems that the jsdoc out

[2016-01-25 00:36] nathanmarks commented on #64
I think I can write a plugin for jsdoc that solves this issue, I'll reply here again if I get it working

[2016-02-09 17:24] nathanmarks opened #65 "Easy re-organization of module index possible? Complex name selectors?"
Let's say I have the following modules in my app:

[code]

`jsdoc-to-markdown` will output the module index ordered alphabetically (as expected):

[code]

For the readability of the module index, it would be great to be able to easily sort the module list so nested modules are not mixed in with the top level as they are now. With everything mixed, it gets pretty unwieldily at a certain # of module

[2016-02-09 18:37] 75lb commented on #65
yes, you can filter by regexp.. it's not documented, sorry about that.. the helper you want is this
[code]

the `_name` attribute signifies you want to filter on the `name` property (from the input jsdoc-parse data).. the underscore means *filter by regexp*.. if you specified `name` instead of `_name` it would filter by exact value.

for example, to print a list of names of modules beginning with

[2016-02-09 20:14] 75lb commented on #65
[this partial](https://github.com/jsdoc2md/dmd/blob/master/partials/main-index/module-index/module-index-dl.hbs) generates the module index you see in the default output.. you could copy/paste this into a custom partial, or your README template and simply replace the `{{#modules~}}` line at the top with `{{#modules _name="^s" ~}}` or similar.

[2016-02-09 23:23] nathanmarks commented on #65
@75lb Amazing! This looks great. Just what I was looking for.

Can I suggest adding this to the examples? I tried checking out https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/templating/selector%20helpers/module before asking here.

[2016-02-10 22:33] ambischof opened #66 "Default params of array: end bracket missing."
If the default value is an array, say `[1,10,20]`, the output is `[1,10,20`

[2016-02-11 10:21] 75lb commented on #66
this issue is with the main jsdoc2md? Or the bitbucket plugin?

[2016-02-11 14:15] ambischof commented on #66
I tried it with both, and they had the same result, so I figured it was with jsdoc2md.

[2016-02-11 14:16] 75lb commented on #66
interesting.. can you send me a snippet of source code i can use to reproduce please.

[2016-02-11 14:19] ambischof commented on #66
[code]

[2016-02-12 11:03] 75lb commented on #66
your syntax is wrong.. param values with default values must be contained in square brackets, see [docs](http://usejsdoc.org/tags-param.html)

it should be
[code]

[2016-02-12 11:03] #66 closed

[2016-02-12 14:08] ambischof commented on #66
While it doesn't explicitly say all params with default values have to be optional, you might be right about that. Thanks.

[2016-02-12 14:18] 75lb commented on #66
yeah.. you state a param is optional by wrapping it in square brackets.. additionally, you can give an optional a default value.

[2016-02-14 10:03] hgupta9 opened #67 "Outputs blank for single JS file"
I'm a first time user. running jsdoc2md on a [single js file](https://github.com/josdejong/mathjs/blob/master/lib/type/matrix/DenseMatrix.js) on Win 7 and it outputs a blank 0kb file. However, if i use -j to print the JSON, then it outputs ~20 functions into a neat JSON file. The markdown refuses to generate. What gives?

This is the command I'm using (I've opened a command prompt on Win 7 at the

[2016-02-14 10:20] 75lb commented on #67
this file doesn't parse.. just run `jsdoc2md SparseMatrix.js` and you'll see the errors.. if you're not sure whether you have valid jsdoc, try running it through jsdoc too.. i.e. `jsdoc SparseMatrix.js`.. jsdoc2md depends on valid jsdoc syntax to work.

[2016-02-14 10:20] #67 closed

[2016-02-14 21:46] 75lb commented on #65
[done](https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/templating/selector%20helpers/module), thanks again.. let me know if there's anything else..

[2016-02-14 21:46] #65 closed

[2016-02-14 21:49] #29 closed

[2016-02-15 07:15] hgupta9 commented on #67
But if the file doesn't parse correctly, then how does the JSON generate just fine?!

[2016-02-15 07:27] hgupta9 opened #68 "Prototype functions not handled by JSDoc or JSDoc2Md"
My test file, [SparseMatrix.js](https://github.com/josdejong/mathjs/blob/master/lib/type/matrix/SparseMatrix.js) has no compile errors and even JsDoc generates blank docs for it even though its valid. I think prototype functions are not handled as of now. Can this be added?

If I run this:

    jsdoc2md --stats SparseMatrix.js

I get:

But running this still produces a 0kb file.

    jsdoc2md Spar

[2016-02-15 07:36] hgupta9 commented on #68
Okay, I finally figured out that a class needs to be specified, via the @class keyword, for every function in the file.

I had to turn this:

	/**
	* Generate a matrix from a JSON object
	*/

Into this:

	/**
	* Generate a matrix from a JSON object
	* @class SparseMatrix
	*/

When I do this JsDoc and JsDoc2Md generates valid docs for my file!

[2016-02-15 07:36] #68 closed

[2016-02-24 12:29] AndyOGo opened #69 "Loading handlebars helper fails"
I run the following command:
[code]
I have installed this helper for rawincludes [https://github.com/ain/handlebars-helper-rawinclude](https://github.com/ain/handlebars-helper-rawinclude)

If want to use this helper with:
[code]

I get this error:

[2016-02-24 12:40] 75lb commented on #69
sorry, it's probably not documented very well, but the `--helper` option takes one or more file paths to modules exporting helpers.. so, something like:

[code]

[2016-02-24 12:41] 75lb commented on #69
it's designed that way as helper overrides are typically defined locally, per project.. but it would be better if it accepted either a file path *or* module name.. it does work that way in jsdoc2md version 2 (50% done)

[2016-02-24 12:48] AndyOGo commented on #69
Ah I see, thanks for your quick answer.
Got it to work with an explicit path:)

[2016-02-24 12:49] 75lb commented on #69
That's good

[2016-02-24 12:49] #69 closed

[2016-02-28 10:29] AndyOGo opened #70 "@requires is not printed"
The [@requires](http://usejsdoc.org/tags-requires.html) tag is not printed if defined.

I'm using [gulp-jsdoc-to-markdown](https://www.npmjs.com/package/gulp-jsdoc-to-markdown) version 1.2.1 which uses [jsdoc-to-markdown](https://www.npmjs.com/package/jsdoc-to-markdown) version 1.3.3.

Works as expected with [gulp-jsdoc3](https://www.npmjs.com/package/gulp-jsdoc3)

Source:
[code]

[2016-02-28 10:42] 75lb commented on #70
Thanks, will fix tonight

[2016-02-28 20:52] AndyOGo commented on #70
Thank you for your quick reply and your awesome tool:)
I'm keen to use the new version.

[2016-02-29 13:35] #70 closed

[2016-02-29 13:47] 75lb commented on #70
fixed and released in dmd v1.3.8.. update your jsdoc2md tool/plugin to pick it up.. thanks again.. i'll let you know once jsdoc2md version 2 is in beta.

[2016-02-29 14:08] AndyOGo commented on #70
Awesome, thank you very much for your quick release. Works great:)
Cool, yeah, just through me a message.

[2016-03-10 21:11] ambischof opened #71 "Is there a way to parse markdown within tags? (similar to markdown plugin within jsdoc)"
http://usejsdoc.org/plugins-markdown.html
I'd kind of like to be able to use markdown within tags like param.

If it's not something that can happen, is there any way to have at least line breaks? They seem to all be stripped.

[2016-03-10 21:14] 75lb commented on #71
Normally with markdown you end a line with two blank spaces to get a linebreak, is this not working for you?

[2016-03-10 21:31] ambischof commented on #71
Nope, not within tags like @param.

[2016-03-11 09:25] 75lb commented on #71
if you look at `0-src.js` in [this example](https://github.com/jsdoc2md/testbed/tree/master/build/jsdoc/global/param-markdown) you can see markdown in the param descriptions.. `3-dmd.md` is rendered using the default options and you can see the markdown is lost - this is by design as GFM tables do not support embedded markdown or new lines.

so, use the `--no-gfm` option.. [example output](https:/

[2016-03-11 09:25] #71 closed

[2016-03-13 18:03] cjsauer opened #72 "Kramdown specific: newlines before markdown headers"
I'm currently trying to use this tool to generate a markdown file that will sit inside of a Jekyll site hosted using Github Pages. Jekyll uses the Kramdown markdown parser. My issue is that my header tags are not rendering correctly, as you can see [here](http://cjsauer.github.io/genetic-sandbox/docs/). The reason being that Kramdown [requires headers to be preceded by newlines](http://kramdown.ge

[2016-03-13 18:11] 75lb commented on #72
Hi, quick win - if you look at the dmd project page there are instructions
on how to override templates. Or you can wait and i will fix this tonight
as it should be the default behaviour

[2016-03-14 10:24] 75lb commented on #72
fixed and released in dmd 1.3.11.. please update your tool/plugin to pick up.. thanks for the report :+1:

[2016-03-14 20:25] ambischof commented on #71
You're right, the `--no-gfm` does work; it also allows the markdown to be parsed.

Thanks! I never would have guessed that was the issue.

[2016-03-14 20:59] 75lb commented on #71
yeah, it's not obvious which problems `no-gfm` solves.. will improve that in v2

[2016-03-14 21:27] ambischof commented on #71
Bleh, now I have an issue. Just realized that the --no-gfm tag makes tables render wrong in the bitbucket version. Guess I gotta make an issue over at that repo.

[2016-03-14 23:22] cjsauer commented on #72
Fix confirmed! :+1:

[2016-03-17 19:46] ambischof opened #73 "Classes: examples don't show up unless a description is present?"
Probably because the example is put in the same section as the description, but if the description is not set, the example doesn't show up.

[2016-03-17 19:54] 75lb commented on #73
can you post some code i can use to reproduce, please

[2016-03-17 19:58] ambischof commented on #73
[code]

If you add a line or two at the top for the description, the example is rendered as expected.

[2016-03-17 21:51] 75lb commented on #73
ok, i see it now.. thanks - will look in the morning..

[2016-03-18 16:18] cjsauer opened #74 "List of Handlebars template tags"
Do you happen to have a full list of handlebars template tags that are available for use? I've got a sense for what is available from reading examples, but a full list of every tag available in a template would be very helpful.

[2016-03-18 16:28] cjsauer commented on #74
I believe I may have found them: https://github.com/jsdoc2md/dmd/tree/master/partials

I hand't realized that the markdown generation was actually a separate project!

[2016-03-18 16:28] 75lb commented on #74
well, beside the [selector helpers](https://github.com/jsdoc2md/jsdoc-to-markdown/tree/master/example/templating/selector%20helpers) the best place to look is in the [dmd partials](https://github.com/jsdoc2md/dmd/tree/master/partials).. the entry-point partial is `main.hbs`, everything else branches out from there.

regarding helpers, they are a little messy atm.. but the main ones loaded are from

[2016-03-18 16:28] #74 closed

[2016-03-18 16:30] 75lb commented on #74
yes, the markdown generation is a separate project.. there is also a separate project for html doc generation..

[2016-03-18 16:40] cjsauer commented on #74
Good to know. My project is still very young, I'm just getting a feel for what is possible. The three project repositories combined is now the full picture.

Also :+1: for jsdoc2md V2!

[2016-03-19 02:02] alexindigo opened #75 "Is there a way to specify initial header level?"
I'd like to be able to have my top level class to be rendered as level 3 header (`###`),
to fit better under second level sub-header "API Reference", since I have other blocks in my readme file.

Thank you.

[2016-03-19 02:12] alexindigo commented on #75
Ok, `{{depthIncrement}}` will do. :)

[2016-03-19 02:12] #75 closed

[2016-03-19 07:57] 75lb commented on #75
See the  --heading-depth option

[2016-03-19 08:21] alexindigo commented on #75
I see. Thanks :)

[2016-03-20 17:47] cjsauer commented on #72
It looks like this bug actually appears in more than one place. For example, the "Example" header above an example code block also requires a new line. Here's my best attempt at a visual:

<**Example**>
< ----- THERE SHOULD BE A NEWLINE HERE ----- >
\`\`\`js
class Circle extends Shape {
}
\`\`\`

[2016-03-21 09:35] 75lb commented on #72
for now, could you test a fix for this using a [plugin](https://github.com/jsdoc2md/dmd#customising).. obviously, these are Kramdown specific issues (jsdoc2md outputs valid GFM)..

duplicate [this partial file](https://github.com/jsdoc2md/dmd/blob/master/partials/all-docs/docs/body/examples.hbs) locally.. add your [line break](https://daringfireball.net/projects/markdown/syntax#p) where you think

[2016-03-21 17:23] ambischof opened #76 "Events for classes in modules don't show up."
I think the issue is that the names aren't being parsed correctly.

this doesn't work:
[code]

but this does:
[code]

So there is a workaround, but still seems to be a bug.

[2016-03-21 17:30] ambischof commented on #76
Actually nvm, looks like it's resovled if you remove the module prefix.

[2016-03-21 17:30] #76 closed

[2016-03-21 22:49] cjsauer commented on #72
Thanks for the info. I just published a little shim plugin called [dmd-kramdown-plugin](https://www.npmjs.com/package/dmd-kramdown-plugin). I'll keep adding fixes to partials as I find them. For now though this is working.

[2016-03-22 08:10] 75lb commented on #72
ok, good.. if i get more Kramdown users i'll point them to your plugin, or look into absorbing it.. :+1:

[2016-03-22 08:10] #72 closed

[2016-04-25 09:35] borisovg commented on #30
I've also hit this issue - jsdoc2md generates a single "-" where the line is supposed to be.

According to https://gist.github.com/howar31/5963000#hr only mentions "---", "***" and "___" as valid syntax for a horizontal line.

[2016-04-25 09:45] borisovg opened #77 "--separators does not produce valid markdown"
Similar to #30 but this is clearly a bug.

jsdoc2md generates a single "-" where the line is supposed to be.

[code]

makes

[code]

I can't find a specific mention of horizontal lines in Github's markdown help pages which would mean it defers back to original markdown spec:

[code]

[2016-04-25 09:50] 75lb commented on #77
Hi, Github markdown has two separators. `-` produces a thinner line than
`***`. It is not documented.

I will check this and the other issue when i get to my laptop sometime today
On 25 Apr 2016 10:45, "George Borisov" <notifications@github.com> wrote:

[2016-04-25 10:04] borisovg commented on #77
In the spirit of jsdoc: if it's not documented it does not exist! ;)

[2016-04-25 10:06] borisovg opened #78 "@override does not work properly"
[code]

makes

[code]

The doc for bar.method is wrong.

[2016-04-25 16:17] 75lb commented on #78
i see, thanks.. how does the output look if you remove the `@override` tag - according to the jsdoc docs you shouldn't need it:

[2016-04-25 16:40] borisovg commented on #78
Thanks - it works if I remove it. :)

[2016-04-25 20:22] #78 closed

[2016-04-26 12:49] cjsauer opened #79 "Question on type links"
I'm having a bit of trouble getting my @param, @return, etc tags to actually link to their respective types. Instead of a link, I get something that looks like `[HexGrid](#HexGrid)`.

Should the linking work using es6 classes? I'm doing the following:

[code]

Yet the link to HexGrid still appears as above. Does it matter that HexGrid has not been imported in this file?

Here is a link to some of

[2016-04-26 12:56] 75lb commented on #79
you need to make sure you use the correct jsdoc namepath.. to get a list of all the namepaths found in your sourcecode, run jsdoc2md with `--stats`.. the namepaths listed in this output are the ones you can use.. for example:

[code]

in this case, the namepath for the `spawn` method is `module:handbrake-js.spawn`.. if the one you want to use is missing, you need to need to add its source file to

[2016-04-26 13:07] cjsauer commented on #79
Here is a snippet from my --stats output:

[code]

I'm not seeing any namepaths other than the name of the class itself.

[2016-04-26 13:14] 75lb commented on #79
yes, that output is correct.. so, in your case `{HexGrid}` is the correct namepath to use and `[HexGrid](#HexGrid)` is the correct, expected markdown output.

the issue you have is the markdown-to-html renderer you are using has not converted `[HexGrid](#HexGrid)` to a html hyperlink.. not sure why.. can you show me the markdown output from jsdoc2md?

[2016-04-26 13:16] cjsauer commented on #79
Here's a link to the docs.md file in my repo: https://raw.githubusercontent.com/cjsauer/genetic-sandbox/master/site/docs.md

[2016-04-26 13:21] 75lb commented on #79
the issue is with markdown like this:

[code]

ok, it seems that your markdown rendered does not render markdown inside html tags.. here, we want HexGrid to be formatted as both code *and* a link.. it should look like this:

<code>[HexGrid](http://example.com)</code>

so, to format as both code and a link is possible on GitHub and most other renderers, but not yours.. could you play around and see

[2016-04-26 14:11] cjsauer commented on #79
Sure thing, I'll look into it. Can you give me a hint on which partials would be affected by this? It seems like it could be more than one.

[2016-04-26 14:14] 75lb commented on #79
https://github.com/jsdoc2md/dmd/blob/master/partials/shared/value/link.hbs

[2016-04-26 14:15] cjsauer commented on #79
Awesome. Looks as though I can use the `markdown="1" attribute on the `code` tag to get kramdown rendering the links properly. I'll give it a try this evening. Thanks for your help, as always!

[2016-04-30 21:43] #79 closed

[2016-05-08 16:59] zakkudo opened #80 "Doesn't read documentation from files with underscores"
For some reason jsdoc2md won't read files that have underscores.

[code]

But when I rename `__module__.js` to `module.js`:

[code]

[2016-05-08 17:21] 75lb commented on #80
confirmed, thanks for letting me know!

[2016-05-11 22:04] 75lb commented on #80
sorry for the slow reply.. for some reason, jsdoc ignores files starting with `_` by default.. from their docs:

sorry, but you will need to supply your own [jsdoc conf file](http://usejsdoc.org/about-configuring-jsdoc.html) to jsdoc2md, via the `--conf` property.. please read [this issue](https://github.com/jsdoc3/jsdoc/issues/308) for tips.. let me know how you get on.

[2016-05-11 22:04] #80 closed

[2016-05-15 00:24] zakkudo commented on #80
Thanks!  Sorry for making you read the documentation for me.

[2016-05-15 09:46] 75lb commented on #80
it's ok, i thought it was a bug at first..

[2016-05-19 09:30] daserge commented on #47
@75lb, any news on this topic?

[2016-05-19 09:41] 75lb commented on #47
quite a lot of news, but ultimately jsdoc2md v2 is not quite ready.. i'm still working on it and have been delayed, recently..

the main focus of the next version is to make the output *much* easier to customise (currently, it takes too long to learn/edit the dmd partials) and more accurate (i.e. so the tool documents precisely what exists, not what you *say* exists via jsdoc comments).. this focu

[2016-05-19 09:50] 75lb commented on #47
how about you? And news regarding your jsdoc2md usage? Is it still fit-for-purpose?

[2016-05-19 10:01] daserge commented on #47
This sounds like a great plan - I've faced that same issues while working on the docs-gen for [cordova-plugin-camera](https://github.com/apache/cordova-plugin-camera/blob/d4a55f20ec1164f521f487110318e0fa431644d8/package.json#L43).

I'm going to update [the proposal](https://github.com/cordova/cordova-discuss/pull/16) now to reflect the current state of jsdoc-to-markdown setup (without source links

[2016-06-02 10:01] rhys-vdw opened #81 "@see <namepath> not supported"
[code]

[docs](http://usejsdoc.org/tags-see.html)

Input:
[code]

Output with jsdoc to markdown:
[code]

Should be:
[code]

I've been looking through the ddata source trying to work out how to make this change. Not entirely sure if this is a `jsdoc-parse` issue or a `dmd` issue. Either way I'm happy to submit a PR.

[2016-06-02 10:03] 75lb commented on #81
Hi, thanks for the report! will look at it this evening.

[2016-06-02 10:37] rhys-vdw commented on #81
Not sure how formal the spec for `@see` is, but this is my quick fix in my plugin:

`helpers.js`
[code]

`see.hbs`
[code]

[2016-07-19 05:38] mkhazov commented on #73
In my case @example doesn't show up even if the description is set.

[2016-07-22 13:02] vasyas opened #82 "Unable to load plugins"
Using jsdoc-parse@1.2.7

My jsdoc.conf.js:
[code]

When running
[code]
got error message
[code]

jsdoc@3.4.0 works ok.

The same error with other jsdoc plugins (tested jsdoc-strip-async-await), so I beleive it's plugin-unrelated.

[2016-07-22 13:11] 75lb commented on #82
does it work if you use an absolute path to your plugin? e.g.

[code]

[2016-07-22 13:14] vasyas commented on #82
No.
And absolute version works ok with jsdoc.

[2016-07-25 16:10] reconbot opened #83 "How do I render global objects?"
I've recently migrated node [serialport](https://github.com/EmergingTechnologyAdvisors/node-serialport) to use jsdoc-to-markdown and it's great!

I can't figure out how to render global objects in a navigation and summary form. Right now I've attached our configuration objects and callbacks as instance variables but that's incorrect.

Example https://github.com/EmergingTechnologyAdvisors/node-seri

[2016-07-25 20:50] 75lb commented on #83
hi, to loop through the global objects use the `{{#globals}}` helper.. so, this will print all the global identifier names:

[code]

is there a more specific example i can help you with?

[2016-07-26 18:28] #83 closed

[2016-07-27 08:45] 75lb commented on #83
morning! I will get back to you with some examples later today, when i get some time.. the first, and possibly most crucial thing i noticed about your docs is that `SerialPort` is not a global - it is a value exported from a module. The typedefs you define are not global either, they are inners of a module. Strictly speaking, your docs in their current state are not accurate.

[2016-07-27 19:17] 75lb commented on #83
take a look [here](https://github.com/jsdoc2md/node-serialport/tree/global-docs).

I have documented `serialport.js` as a module, with `SerialPort` as the exported class. I also added `@event` documentation for `"open"` and `"close"` so they appear in the generated docs, so you don't need to write them on the README separately. I didn't document *all* the events, you can do the rest if you like ;)

[2016-07-28 07:54] 75lb commented on #83
1. Really, the links don't work in which browser? the `openOptions` link works for me in Chrome. This is an awkward area, because Github rewrite the hrefs on `<a>` tags embedded in markdown so it's awkward to work around.

2. Everything is customisable. There are some notes about overriding partials on the [dmd](https://github.com/jsdoc2md/dmd) page. You will need to override the [signature name](

[2016-07-29 22:23] 75lb commented on #83
you didn't supply a valid [jsdoc namepath](http://usejsdoc.org/about-namepaths.html) in your @param type.. `openOptions` is not a valid namepath, so a link can't be created..

[code]

run `jsdoc2md --stats lib/serialport.js` to list all the namepaths in your project:

[code]

so, try using the proper namepath in your params, e.g.
[code]

[2016-07-30 07:32] 75lb commented on #83
`{openOptions}` is a valid namepath for a global identifier but not one in a module.. glad you like the tool!

[2016-08-05 07:26] madtrick opened #84 "@file or @overview tags ignore"
### Summary

jsdoc tags `@file` and its synonims `@overview` and `@fileoverview` seem to be ignored by `jsdoc-to-markdown`

#### Steps to reproduce
Create a file with the following contents:

[code]

Run `jsdoc2md`:

[code]

As you can see the contents for the `@file` tag are not included in the generated markdown.

#### Other information

Using version `1.3.6.` of `jsdoc-to-markdown`

[2016-08-05 11:15] 75lb commented on #84
i don't think this tag gets much usage in jsdoc2md as the information it contains has no impact on a module's API (which is what the tool is intended to document).. But will have a look, thanks.

[2016-08-05 20:29] 75lb commented on #82
i've traced this to a regression in jsdoc3, introduced by [this commit](https://github.com/jsdoc3/jsdoc/commit/6be9dac616549ce226e4c0064876c7cb3b64fe25).. jsdoc2md does not use jsdoc3@3.4.0, it uses [a fork](https://github.com/jsdoc2md/jsdoc) which tracks the `master` branch of jsdoc3.

This is fixed and released in v3.5.6 of [jsdoc-75lb](https://github.com/jsdoc2md/jsdoc).. please reinstall jsdoc

[2016-08-05 20:30] 75lb commented on #82
if you still have problems, please re-open.

[2016-08-05 20:30] #82 closed

[2016-08-09 07:29] captncraig opened #85 "Grouping Global functions not working?"
I have the following js (`simple.js`):

[code]

Running through `jsdoc2md -g grouped simple.js` gives me a global index in this format:

[code]

I really really want those globals grouped by categories. `--group-by` didn't seem to have any effect. Is this not a supported feature, or am I using it wrong?

[2016-08-09 15:30] stoffern opened #86 "ES6 syntax"
it fails to parse await, async ++ words (ES6).
Is there a way to handle this?

[2016-08-09 22:23] 75lb commented on #85
Hi! Yes, those globals should be grouped too. I will look into this soon, thanks.

[2016-08-09 22:25] 75lb commented on #86
would using [jsdoc-babel](https://github.com/ctumolosus/jsdoc-babel) with the `--configure` option help?

* * *
*[Try the jsdoc2md v2 pre-release](https://github.com/jsdoc2md/jsdoc-to-markdown/releases)*

[2016-08-09 22:33] 75lb commented on #81
Apologies for the delay! Yes, you're right - `@see` does not seem to parse namepaths which is a glaring oversight on my behalf.. I'd gratefully accept a PR but the handlebars templates/helpers are a not particularly inviting to work on, which is my main long-term goal to solve..

* * *
*[Try the jsdoc2md v2 pre-release](https://github.com/jsdoc2md/jsdoc-to-markdown/releases)*

[2016-08-09 23:02] 75lb commented on #56
Closing now as the streaming interface has been replaced by sync and async interfaces in [jsdoc2md v2](https://github.com/jsdoc2md/jsdoc-to-markdown/releases).

[2016-08-09 23:02] #56 closed

[2016-08-10 09:59] bgordon01 commented on #86
Hi there

Just came across the same issue. The es2016 keywords async / await still not working. Tried the v2 pre-release and it's still failing. Get the following error:

Unexpected token function
at Explain.verifyOutput (/Users/brent.gordon/.nvm/versions/node/v6.3.1/lib/node_modules/jsdoc-to-markdown/node_modules/jsdoc-api/lib/jsdoc-command.js:108:19)
    at ChildProcess.handle.on.err (/Users/bre

[2016-08-10 10:29] 75lb commented on #86
@bgordon01 did you try using [jsdoc-babel](https://github.com/ctumolosus/jsdoc-babel)?

[2016-08-10 12:10] bgordon01 commented on #86
@75lb I did and I still get the same error

[2016-08-10 20:50] 75lb commented on #86
i finally got around to trying this - it works fine.. the error you're seeing (`Unexpected token function`) is because you don't have the necessary babel plugin (transform-async-to-generator) installed..

To get async/wait code working, install these modules:
[code]

..create this jsdoc config file
[code]

and run jsdoc2md like this: (use `--conf` if still on v1.3.7)
[code]

* * *
*[Try the jsdoc2

[2016-08-10 20:50] #86 closed

[2016-08-11 07:16] bgordon01 commented on #86
Awesome, this works perfectly now 👍  thanks for your help Lloyd

[2016-08-16 13:17] vasyas commented on #82
Thanks, it has fixed my issue.

[2016-08-26 14:06] jeffrose opened #87 "Link points the wrong anchor"
I have a constructor which doubles as function.

[code]

The document renders both entries.

However clicking on the Function entry takes you to the Class details because they both point to `#Stuff`. Ideally one should point to `#Stuff-class` and the other should point to `#Stuff-function`, or something similar.

[2016-08-26 19:36] 75lb commented on #87
i can't solve your issue directly (jsdoc doesn't support documenting the same identifier twice) but does this work, as a workaround?

[code]

[2016-08-26 19:36] #87 closed

[2016-08-27 20:25] nathanmarks opened #88 "Network requests every time I build docs"
Hey, what's up with the network requests to google? Can there be an opt out? (other than blocking `node` from making the connection)

[2016-08-27 20:45] 75lb commented on #88
hi, yes of course - see the alpha release notes.. i'm still working on v2.
https://github.com/jsdoc2md/jsdoc-to-markdown/releases

[2016-08-27 20:45] #88 closed

[2016-08-31 03:42] chadxz opened #89 "v2.0.0-alpha.13 - no output when generating .md"
Using v2.0.0-alpha.13, I am getting no output when running the command `jsdoc2md -f src/Events.js` on the file https://github.com/chadxz/awry/blob/0be94a538ff13aca8f791147b662529612f70cda/src/Events.js

if i run the same command but with `--json` or `--jsdoc`, I get output. It's only when I try to generate the markdown that I get no output. I tried using `--verbose` but that flag doesn't seem to e

[2016-08-31 07:52] 75lb commented on #89
hi, thanks for the report.. it's because there is nothing documented at the top level scope of the source (although identifiers deeper in the tree are documented).. generally, *all* modules must document the top-level else nothing will show up..

put a `@module` tag in there.. i.e.

[code]

[2016-08-31 07:52] #89 closed

[2016-08-31 11:03] chadxz commented on #89
Ah okay, thanks. Sorry for the noise

On Aug 31, 2016 2:52 AM, "Lloyd Brookes" <notifications@github.com> wrote:

[2016-08-31 11:06] 75lb commented on #89
please, don't be sorry - keep em coming, i appreciate the feedback!

[2016-09-04 05:14] ghost opened #90 "Show @deprecated text in the output"
Hi,

I use the v1.3.7

In the source, I have added :

[code]

And the output is :

[code]

**The text "Use Di#set instead" doesn't exist in output. Original jsdoc template shows it.**

Thanks

[2016-09-05 15:32] ngryman opened #91 "module.exports declarations are not generated"
Hi!

This does not get generated:
[code]

This does:
[code]

I was expecting the first to work properly. It's not a super blocker, but declaring/exporting is quite a trendy pattern in the nodejs community.

Thanks!

[2016-09-05 15:37] 75lb commented on #91
i [reported this issue](https://github.com/jsdoc3/jsdoc/issues/679) ages ago, bro.. i'm afraid jsdoc3 does not correctly document code written in style 1 (above).. you need to write in style 2 for now (declare your function, document it, then export it)..

let me know if you have any more issues!

[2016-09-05 15:37] #91 closed

[2016-09-05 19:00] 75lb commented on #90
Hi, currently text set with the `@deprecated` tag is not shown in the output.. i will add this.

[2016-09-06 00:33] ngryman commented on #91
Alright! Sorry for the duplicate.

[2016-09-07 13:59] nomadster opened #92 "How can I obtain standard markdown output?"
I see that it outputs a very nice github flavoured markdown but unfortunatly I need standard markdown beacuse my target is not github.

How can I achieve this? There are some references on the documentation but this is not pointed out well.

Thanks for your help.

[2016-09-07 14:52] 75lb commented on #92
hi, did you try the `—no-gfm` option? I will improve the documentation soon, sorry about that..

[2016-09-07 15:16] nomadster commented on #92
Hi @75lb thanks for your reply :). How can I pass that option inside gulp?
I'm also using gulp-jsdoc-to-markdown because I have a large codebase to document and automating the process is essential and good :)

[2016-09-07 15:40] 75lb commented on #92
in your gulp task, pass `'no-gfm': true` to jsdoc2md.. e.g.

[code]

[2016-09-08 07:12] nomadster commented on #92
I've tried with the option you segguested but it still outputs a file with some html in it. Any other suggestion?

[2016-09-08 11:28] 75lb commented on #92
a file with html in it might not be what you want but is still valid markdown.. the `--no-gfm` option removes Github-specific markdown, using only standard markdown (which may include html).

My only other suggestion for now is to look at the [dmd-bitbucket plugin](https://github.com/jsdoc2md/dmd-bitbucket) or see the [dmd](https://github.com/jsdoc2md/dmd/) docs on how to modify the output.

[2016-09-08 11:28] #92 closed

[2016-09-08 11:29] 75lb commented on #92
i closed the issue as it's not a bug.. but feel free to ask more questions here or on the gitter page

[2016-09-08 12:51] nomadster commented on #92
Thanks for you help

[2016-09-10 05:39] jtlapp opened #93 "Colons instead of arrows? Or no return value in header?"
Is there an option for displaying the return values of functions with a colon instead of an arrow? Or for not showing the return value in the header?

I've been programming since 1982. I spent 5 seconds staring at the example headers output for function calls wondering what the heck the arrow notation meant. I figured it out of course, but I find the whole presentation unusual, awkward, and distra

[2016-09-10 10:30] 75lb commented on #93
hi! I've been programming since '85, so from a similar era.. yes, you can customise the output - take a look at the [docs for dmd](https://github.com/jsdoc2md/dmd) which talk about how to override handlebars partials, helpers and build plugins (if required).

In your case (modifying the signature), you would create a duplicate of one/all of the [signature partials](https://github.com/jsdoc2md/dmd/

[2016-09-10 10:56] 75lb commented on #93
any other questions, let me know - here or in the gitter room.. unfortunately, Handlebars was not the best choice so the templates are difficult to read and understand.. this will be fixed in a future version (i.e. rewritten)

[2016-09-10 10:56] #93 closed

[2016-09-10 13:57] jtlapp commented on #93
Perfect response. Thank you!

TRS-80, Commodore, or Atari? I started with an Atari 400, but all the cool kids were using TRS-80.

[2016-09-10 15:47] ngryman opened #94 "Allow other input files extension"
Hey,

It seems that **jsdoc** enforces `.js` for input files.

[code]

Do you think it's possible to add support for custom extensions? Or am I missing something?

Thanks!

[2016-09-10 17:02] jtlapp commented on #93
The more I play with these tools, the more awesome they get. Well done! You've thought of everything and made it pretty easy too. (But yeah, the hbs is a bit hard to read.)

[2016-09-10 17:30] 75lb commented on #94
you need to [configure jsdoc](http://usejsdoc.org/about-configuring-jsdoc.html) then specify your config file path using `jsdoc2md --conf my-config.json` (or `--configure my-config.json` on v2)

[2016-09-10 17:30] #94 closed

[2016-09-10 19:29] ngryman commented on #94
Thanks!

[2016-09-16 07:37] AndyOGo opened #95 "Creating one markdown file per file"
I would like to generate one `.md` file per input file, skipping the automatic concatenation.
Something like this should work:

[code]

In:
[code]

Out:
[code]

[2016-09-16 09:10] 75lb commented on #95
take a look at [jsdoc2md v2 prerelease](https://github.com/jsdoc2md/jsdoc-to-markdown/tree/next), it has a more flexible [API](https://github.com/jsdoc2md/jsdoc-to-markdown/blob/next/docs/API.md) you could script to achieve what you need.

[2016-09-19 19:50] mkozjak opened #96 "ES2016 arrow support"
Arrows are not supported:
[code]

Steps to reproduce (according to https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-ES2016-features-like-async-&-await):
[code]

What am I doing wrong here?

[2016-09-19 19:53] 75lb commented on #96
what version of node are you on?

[2016-09-19 19:54] mkozjak commented on #96
v6.6.0

[2016-09-19 20:13] mkozjak commented on #96
@75lb: btw, my source code is in Allman style!

[2016-09-19 20:28] 75lb commented on #96
does [jsdoc](https://github.com/jsdoc3/jsdoc) work correctly with your sourcecode?  So, does this command produce the correct jsdoc output?
[code]

[2016-09-19 20:29] 75lb commented on #96
it would be quicker and easier for me if you could send a failing test i could reproduce, like a gist or some failing code i could run.

[2016-09-19 20:37] mkozjak commented on #96
[code]

[2016-09-19 21:18] 75lb commented on #96
could you send steps to reproduce this error please.. i can't help you or fix it if i can't reproduce it.
[code]

[2016-09-19 21:31] mkozjak commented on #96
Steps to reproduce are the same except the plugins bit, where I put 'lib/index'.

.jsdoc file:
[code]

[2016-09-19 21:38] 75lb commented on #96
sorry, i only just saw the edit you made to your comment above - i am testing on the code you linked to now - thanks

[2016-09-20 09:00] 75lb commented on #96
Hi, i've tested this and everything works fine. The reason you are not getting any output is because there are no documented modules or globals in your code. [Read this](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-a-module).

[2016-09-20 09:00] #96 closed

[2016-09-20 09:12] mkozjak commented on #96
Nice!

What about ```"plugins": ["node_modules/jsdoc-babel/lib/index"]```. Is that normal?

[2016-09-20 10:51] 75lb commented on #96
it makes no difference, for me both these permutations work the same:

`"plugins": ["node_modules/jsdoc-babel/lib/index"]`
`"plugins": ["node_modules/jsdoc-babel"]`

[2016-09-23 19:19] kulakowka commented on #95
@75lb Could you add this capability in cli utility?

[2016-09-23 21:12] 75lb commented on #95
hi @kulakowka.. i don't plan to add this specific behaviour to the cli because it is not what the majority of users need, sorry.

[2016-09-23 21:12] #95 closed

[2016-09-26 00:35] MitchellBurton commented on #95
I just want to say that this functionality in the cli is exactly what I need right now.

[2016-09-26 14:20] 75lb commented on #95
well, there is an example script showing how to achieve this in jsdoc2md v1.. i will write a similar example for v2 ASAP.

I'm still working on V2 - almost there, it's at preview stage atm.

[2016-10-02 18:01] 75lb commented on #95
i wrote a tutorial and example script showing how to achieve this using jsdoc2md v2 (latest version required):
https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-create-one-output-file-per-class

[2016-10-19 13:34] reconbot opened #97 "Editing partials doesn't invalidate cache"
I had a weird moment where none of my edits were showing on a new partial. Then I realized it was the cache. Cleared the cache and the document rendered without issue.

[2016-10-19 13:39] 75lb commented on #97
thanks for letting me know! Will fix it tonight after work.

[2016-10-19 13:56] 75lb commented on #97
FYI, you can use the `—no-cache` until this is fixed.

[2016-10-19 19:58] #97 closed

[2016-10-19 20:12] 75lb commented on #97
fix and released in dmd 2.1.2.. also bumped jsdoc2md.. thanks 👍

[2016-10-19 20:13] 75lb commented on #97
use of any of these options now invalidates cache: `--plugin`, `--partial` or `--helper`.

[2016-10-23 13:36] denydias opened #98 "Remove <code> from @require tags"
Hi there!

I'm documenting `@requires` tags like this:

[code]

But the parsed markdown is being printed like this:

[code]

By looking at [default template](https://github.com/jsdoc2md/dmd/blob/master/partials/shared/value/defaultvalue.hbs), I can see that `<code>` tags comes from there, but I can't figure out a way on how to get rid of them.

Can someone provide some advice on how can I change m

[2016-10-23 13:43] 75lb commented on #98
hi! If you provide a valid namepath to `@requires` then it will automatically link to the appropriate docs.

Your problem is that `module:myModule` is not a valid namepath.  Run this command to list the valid namepaths in your project:

[code]

Take a look at [this wiki page](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Create-a-plugin) for some info about creating custom partials.

[2016-10-23 14:13] denydias commented on #98
Thanks a lot for the quick reply, @75lb! I'm going to look into it and let you know.

[2016-10-23 15:20] denydias commented on #98
Quite interesting! These are my namepaths for a file:

[code]

I'm referencing `module:d8ox-utils` on another file in the same directory. The command I'm using is:

[code]

And this is my gulp task:

[code]

In both cases, I get `@require` as `<code>`.  What I'm missing?

[2016-10-23 15:24] denydias commented on #98
For the sake of completion, this is my `template.hbs`:

[code]

[2016-10-23 16:22] 75lb commented on #98
`scripts/d8ox-utils.js` is not being passed into jsdoc2md by your gulp task, therefore jsdoc2md cannot find nor parse its data. Pass it in. Mark it with `@ignore` if you want to exclude it from docs.

[2016-10-23 16:33] #98 closed

[2016-10-23 16:41] denydias commented on #98
LOL! How come? What is this setting telling jsdoc2md then?

[code]

I took this from here:

https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-use-with-gulp

[2016-10-23 16:49] 75lb commented on #98
sorry, my fault - i read the issue too quickly. I'm out in the car, rushing around. Yes, you're passing in the file correctly. I sent a link earlier to a wiki page on how to create and pass in custom partials - did that help explain how to override the default partial?

[Here](https://github.com/jsdoc2md/testbed/blob/master/build/jsdoc/global/requires/3-dmd.md) is an example of the `@require` tag

[2016-10-23 17:02] denydias commented on #98
No worries. It's good to see that amazing programmers are humans after all! :wink:

I understood the method of creating a plugin to replace a partial, but I haven't applied it yet. I rather prefer that jsdoc2md works as expected in my project than to add more code to something that should just work.

I know I'm doing something wrong, I just can'y figure out what and this is disappointing to me. Ma

[2016-10-23 17:05] 75lb commented on #98
you don't need to create a whole plugin, only a custom partial.. it's a really quick job.. i will write a better tutorial later..

it would help me if i could reproduce your issue.. if your project (with the issue) is on github, please send me the link.. else i'll try to reproduce it tonight.

[2016-10-23 17:11] denydias commented on #98
Sure! I figure that out! The point is there's tons of code from functional areas looking for some tenderness and a quickly approaching deadline...

Unfortunately not. It's on GitLab in a private project that I'm not authorized to disclose ATM. :(

I really thank you for your effort, @75lb. It's easy to see now why jsdoc2md is a success!

[2016-10-23 17:22] denydias commented on #98
YAY!!!!!!!!!!!!!!! We're not doing nothing wrong!!!!!!!!!!!!!!

This [chrome extension](https://chrome.google.com/webstore/detail/markdown-reader/gpoigdifkoadgajcincpilkjmejcaanc?utm_source=chrome-app-launcher-info-dialog) is!!!!

I'm using it to preview my docs. It shows links enclosed in `<code>` as literal code and do not parse the markdown links. I've noted that by looking at the raw of your r

[2016-10-23 17:28] denydias commented on #98
Or maybe jsdoc2md should really avoid to enclose those links into `<code>` anyway. I'don't know how markdown parses over there behaves in that case. So we may have a situation here...

From a standard perspective, what comes inside `<code>` SHOULD be code, even links. We know now GFM ignores this and parses a link even inside `<code>`.

[2016-10-23 17:32] 75lb commented on #98
glad to hear you found the cause of the issue.. the `<code>` formatting is required, i'm afraid because in regular markdown it is impossible to format a piece of text as both a link **and** code.

[2016-10-23 17:40] denydias commented on #98
I see.

Well, in that case this another [chrome extension](https://chrome.google.com/webstore/detail/markdown-preview/jmchmkecamhbiokiopfpnfgbidieafmd/related) (Markdown Preview) plays nice with link, but messes with UTF-8 symbols tough.

Thank you a lot, @75lb! Have a very nice Sunday evening and a great week!

[2016-10-23 17:42] 75lb commented on #98
i will test jsdoc2md with the Chrome extensions you mentioned.. thanks for the report, have a good week too 👍

[2016-10-23 17:50] denydias commented on #98
Tried another one, [Markdown Preview Plus](https://chrome.google.com/webstore/detail/markdown-preview-plus/febilkbfcbhebfnokafefeacimjdckgl/related)... some hiccups with out-of-the-box settings, better after a tweak.

After install, go to extension's options and choose GitHub in Default CSS. Enable auto-reload if your gulp tasks also does that and you're all set. Links renders fine and there's no

[2016-10-23 18:21] liabru opened #99 "@external does not get output"
Using `@external` does not seem to be showing up in the output when using `jsdoc2md` CLI where as it does using `jsdoc` CLI.

[code]

When I run `jsdoc2md *.js > API.md` I get the output:

[code]

Where the externals are missing. Where as if I run `jsdoc *.js` and open the resulting html output I can see:

[code]

I'm using `"jsdoc-to-markdown": "^2.0.1"`.  The [wiki](https://github.com/jsdoc2md/j

[2016-10-23 18:47] 75lb commented on #99
hi! This is my fault, my docs are missing some crucial information.

The short answer:`@external` tags without descriptions are not rendered. If you add a description it will appear in output, e.g.:

[code]

The `@external` tag style you wrote (no description and a `@see`) triggered some magic (described in the wiki). Internally, this maps the namepath `external:Matter.Body` to the url http://brm.

[2016-10-24 06:58] 75lb commented on #99
closing, as this is the expected behaviour.. happy to continue the discussion, though.

[2016-10-24 06:58] #99 closed

[2016-10-24 09:03] liabru commented on #99
After adding the description it shows up, so that seems to work thanks. Is it the case then that everything needs a description?

[2016-10-24 09:17] 75lb commented on #99
no, it is only the case with `@external` because most users only want the [link to external resource](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Linking-to-external-resources) feature you get by combining `@external` with `@see`. So, if the user didn't provide a description for the `@external` it is assumed they only wanted the link and that there is no requirement to render the un-describ

[2016-10-24 10:23] liabru commented on #99
Ah ok, so I'd need to reference it somewhere before I'd see it in that case. Thanks for the help.

[2016-10-25 18:15] 75lb commented on #98
scripts/d8ox-utils.js is not being passed into jsdoc2md by your gulp task,
therefore jsdoc2md cannot find nor parse its data. Pass it in. Mark it with
@ignore if you want to exclude it from docs.

[2016-10-26 22:02] Jakobud opened #100 "AssertionError: Must set either .files or .source"
I have the following simple script:

[code]

I get an error on the command line:

[code]

[2016-10-26 22:09] 75lb commented on #100
you're not calling `render` correctly, it accepts an options object as input.. docs:
https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/docs/API.md#jsdoc2mdrenderoptions--promise

[2016-10-26 22:09] #100 closed

[2016-10-26 22:14] Jakobud commented on #100
Oh. Perhaps I'm really misunderstanding something but that same page shows this:

![screen shot 2016-10-26 at 4 13 59 pm](https://cloud.githubusercontent.com/assets/87356/19747149/417d04ea-9b97-11e6-9fbc-1cca7b96e79b.png)

[2016-10-26 22:21] 75lb commented on #100
my apologies, those examples are now fixed! thanks for highlight that issue..

[2016-10-26 22:23] Jakobud commented on #100
No problem, got it working now. Thank you!

[2016-10-31 02:18] ghost opened #101 "--sort-by"
Hi,

Option --sort-by was mandatory for me. I use differents signatures for methods, like :
- foo.bar(string)
- foo.bar(Array.<string>)

And I can't imagine there are not together. See https://github.com/avighier/simple-dijs#Di

[2016-11-01 09:45] 75lb commented on #30
closing, as most users seem satisfied with the default separator.. [see this wiki page](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Create-a-custom-partial) for a tutorial how to change the default separator.

[2016-11-01 09:45] #30 closed

[2016-11-01 09:45] 75lb commented on #77
closing, as most users seem satisfied with the default separator.. [see this wiki page](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Create-a-custom-partial) for a tutorial how to change the default separator.

[2016-11-01 09:45] #77 closed

[2016-11-03 17:50] thephilwells opened #102 "Any way to create one output file per directory?"
Not a bug, but a request. It'd be nice to be able to generate one `README.md` file per directory, so that when I navigate my project on Github, each folder has its own doc explaining the files that are in there. Similar to the solution here:

https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-create-one-output-file-per-class

but in a way that concatenates all the doc for files in that fold

[2016-11-03 19:53] 75lb commented on #102
yes, that's perfectly possible using the jsdoc2md API.. i don't really have time to write the script for you right now, but you need to run `render` for each directory in your project..  simplistic example:

[code]

[2016-11-03 19:53] #102 closed

[2016-11-11 01:55] jreading opened #103 ""undefined is not a function" stats in node4/npm3"
struggling to to get to work for my build

`node_modules/app-usage-stats/es5/lib/app-usage-stats.js:195
          throw err;
                ^
TypeError: undefined is not a function
    at _loop (/node_modules/app-usage-stats/es5/lib/stats.js:29:34)
    at Stats.add (/node_modules/app-usage-stats/es5/lib/stats.js:96:11)
    at AppUsageStats.loadSync (/node_modules/app-usage-stats/es5/lib/app-usage

[2016-11-11 09:36] 75lb commented on #103
Hi..

i can't reproduce this.. also, [app-usage-stats/es5/lib/stats.js line 29](https://github.com/75lb/app-usage-stats/blob/master/es5/lib/stats.js#L29) does not match what your error stack is reporting..

Did you try uninstalling then reinstalling jsdoc2md? Which version of jsdoc2md are you using?

[2016-11-11 14:26] Anupheaus opened #104 "@external references don't seem to work on @returns"
So I have the following in my code:
[code]
and then I have this on a property (ES6 class):
[code]
and the jsdoc2md generates this:
[code]
Is this a bug or is there another way to do this please?

[2016-11-11 14:37] 75lb commented on #104
is `external:Questions` this correct namepath? Is it listed in [--namepaths](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Listing-namepaths) ?

[2016-11-11 14:53] jreading commented on #103
I'm setting up a super simple job that just runs the gulp demo you have.

[2016-11-11 15:07] 75lb commented on #103
ok, great! but i'm trying to reproduce your issue and your reply moved me no closer to achieving that..

could you send some reproduction steps, please.. like i said before, the stack trace you posted is referencing old code so something else has gone wrong, possibly with npm..

[2016-11-11 16:09] 75lb commented on #103
ok, glad you found the source of the issue.

[2016-11-12 08:08] Anupheaus commented on #104
I've not done anything with namepaths and the above works with an @extends...why does it work fine there and not on a @returns?

[2016-11-13 18:31] 75lb commented on #104
i can't reproduce this, an external works fine in a `@returns`. So, this works as expected:

[code]

Please run `jsdoc2md --namepaths sourcecode.js` to list all valid namepaths in your code (as i advised last time). If your external namepath is in the list, it is valid.

I also noticed you misspelt "external" in your snippet:

[code]

[2016-11-13 18:31] #104 closed

[2016-11-16 01:23] Anupheaus commented on #104
Sorry this was a spelling mistake on my part - my sincere apologies for any wasted time on your part 😞

[2016-11-16 08:54] 75lb commented on #104
ok, no probs

[2016-11-17 08:00] jaydenseric opened #105 "Backticks in place of <code>"
Could the output markdown not simply [use backticks](https://daringfireball.net/projects/markdown/syntax#code), in place of `<code>` inline HTML?

[2016-11-17 09:09] 75lb commented on #105
in some cases, yes.. in other cases, no. The issue is that markdown within markdown is not valid.

So, this is valid:

[code]

This is not:
[code]
Rather than have complex logic to determine whether we have a valid context to use backticks, we use `<code>` which is valid throughout.

[2016-11-17 09:09] #105 closed

[2016-11-17 09:23] jaydenseric commented on #105
Thats not true, [GFM supports markdown in tables](https://help.github.com/articles/organizing-information-with-tables/#formatting-content-within-your-table), which this library supports. They explicitly show an example of backticks in a table cell.

[https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/docs/API.md](https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/docs/API.md)

[2016-11-17 09:59] 75lb commented on #105
Hi, yes you're right - that particular example is valid now (when this tool came out a couple of years old it was not valid).

If you like, [create one or more custom partials](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Create-a-custom-partial) and experiment with backticks. If everything still works, send me a patch and we'll make it default.

[2016-12-04 19:40] #60 closed

[2016-12-07 18:08] UlrichEckhardt opened #106 "Arguments in shebang lines are not portable"
In 1.3.8, you changed the shebang line from "#!/usr/bin/env node" to "#!/usr/bin/env node --no-warnings". Under some OSs (e.g. Linux 3.16) this doesn't work as you intended. It causes "/usr/bin/env" to be called with the single argument "node --no-warnings". A program called "node --no-warnings" is nowhere in the path though and splitting of this argument doesn't take place.

For a discussion on t

[2016-12-07 21:36] 75lb commented on #106
ok, thanks for letting me know - will look into removing the `--no-warnings` argument.

[2016-12-07 21:38] 75lb commented on #106
is there anything stopping you upgrading to jsdoc2md v2? I don't maintain v1 anymore..

[2016-12-07 21:39] #106 closed

[2016-12-07 22:33] 75lb commented on #106
i changed my mind because it's such a quick fix - i removed the `no-warnings` flag and released it in v1.3.9.. but generally, i'm not looking to maintain the old version.

[2016-12-08 09:05] UlrichEckhardt commented on #106
Thanks for that speedy fix!

I'll be looking at upgrading to version 2. I tried that yesterday already, and the output changed a lot, so I tended towards 1.3.7 then. Maybe those changes are harmless though or can easily be dealt with. I'll take a look into it!

[2016-12-08 09:11] 75lb commented on #106
Version 2 only introduced minor changes to the output - the release was more about upgrading the API but either way, good luck!

[2016-12-13 00:32] Industrial opened #107 "Class getters and setters."
Hi.

The output looks like this:

https://github.com/Industrial/id-redux-modules/blob/adbc765d882501cfb136981d1fa711ea06680c0b/README.md

It features every getter and setter without distinction as a method with the same name

[2016-12-13 10:10] 75lb commented on #107
hi. If you document both getter and setter then docs for both will appear in the output. If agree, it would be better if there was distinction, maybe it should say:

[code]

... but it's not a feature anyone has asked for until now.. Generally, there's no need to document both getter and setter. For example, this class will output docs for both:

[code]

Personally, i think it's sufficient to docu

[2016-12-16 04:25] cramatt commented on #62
Still seeing this issue - has it been fixed and released?

[2016-12-16 09:28] 75lb commented on #62
still seeing the issue in which version of jsdoc2md @cramatt ?

[2016-12-16 14:25] cramatt commented on #62
I'm using`jsdoc-to-markdown` version `2.0.0`. I just locked in the version in `package.json`, deleted npm modules, and reinstalled.

I don't seem be getting the _exact same issue_, but things are still not working as expected. Here are more details:

My code:

[code]

- I have a few jsdoc files, 1 is knowingly formatted incorrectly. It's missing the `@name` doc.
- I run jsdoc-to-markdown.
- `.then

[2016-12-16 14:44] cramatt commented on #62
Im def able to catch errors, because the following code logs `err [TypeError: templateData.map is not a function]`.

[code]

What else could be going on? I'm following your example but I must be doing something wrong.

Thanks!

[2016-12-16 15:02] cramatt commented on #62
Also if I use this via npm script, for example:

[code]

The file is empty and no errors are thrown. Not throwing errors here makes it incredibly difficult to debug which file has invalid docs when working with a large set of files.

[2016-12-16 15:43] SkeLLLa opened #108 "Glob matching incorrectly parses '**'"
Hello. I have project structure like this:
[code]

When I'm using command-line utility `jsdoc2md lib/**/*.js > DOCS.md` it ignores `one.js` an `two.js`. But in terms of glob it should include those files also. Am I missing something?

Dependency tree:
[code]

[2016-12-16 16:55] 75lb commented on #108
are you on Windows?

[2016-12-16 17:24] SkeLLLa commented on #108
@75lb Linux

[2016-12-18 20:13] cramatt opened #109 "Ability to run jsDoc with custom plugins"
jsDoc supports custom plugins, for example [here is one for angularjs](https://github.com/allenhwkim/angular-jsdoc/blob/master/common/plugins/ngdoc.js). Because of the way jsdoc-to-markdown abstracts jsdoc, it does not seem possible to add plugins in this way. Additionally it seems plugins, like the dmd example, do not afford a way to extend this functionality. Any thoughts or ideas here?

[2016-12-18 20:20] 75lb commented on #109
you can pass custom jsdoc configuration to `--configure`, or  [`options.configure`](https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/docs/API.md#jsdoc2mdgetjsdocdataoptions--promise).. specify your plugins in the conf file as documented [here](http://usejsdoc.org/about-plugins.html)

[2016-12-18 20:20] #109 closed

[2016-12-18 20:20] #107 closed

[2016-12-18 20:31] cramatt commented on #47
Any updates on this ? Thanks!

[2016-12-18 20:40] 75lb commented on #62
could you send some source or a link to a gist to help me reproduce this, please.. what you describe is not necessarily invalid behaviour.. if jsdoc2md does not find any documentation at module or global level the output will be empty - this is not an error, this is just a case of there being no docs.

[2016-12-19 10:48] SkeLLLa commented on #108
@75lb I've added simple repo:
https://github.com/SkeLLLa/jsdoc2md-test

You can see there DOCS.md file to check jsdoc2md output.

[2016-12-19 11:27] 75lb commented on #108
npm uses `/bin/sh` to run scripts, which may not support `**` globstar.. put quotes around the glob expression - this will cause jsdoc2md to evaluate the glob, rather than your default shell.

[code]

[2016-12-19 11:27] #108 closed

[2017-01-04 11:04] SkeLLLa opened #110 ""|" symbol in parameter description is not escaped"
Hello. When jsdoc `@param` or `@returns` have description that contains `|` symbol it will be not escaped properly and could break table layout.

[2017-01-04 11:22] 75lb commented on #110
hi! In that case, try rendering your docs using `--no-gfm`. This mode avoids using github-flavoured markdown, using html in most cases. This prevent table layout being broken.

[2017-01-04 14:16] SkeLLLa commented on #110
@75lb, thanks. But I think it would be a good idea to replace such char with `&#124;` or something similar.

[2017-01-11 04:42] konsumer opened #111 "no output or error"
I get no output or error with `jsdoc2md src/lib.js`.

My file looks like [this](https://github.com/konsumer/tplink-lightbulb/blob/master/src/lib.js).

`jsdoc2md --json src/lib.js` looks like this:

[code]

[2017-01-11 17:12] 75lb commented on #111
can you confirmed you documented the `@module` as mentioned in point 2. of [this wiki page](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-a-CommonJS-module-(module.exports))?

if you did, please send me the documented source code so i can check it's correct

[2017-01-11 18:36] konsumer commented on #111
That was totally the issue. Sorry for the noise, and thanks for the help.

[2017-01-11 18:36] #111 closed

[2017-01-16 11:45] jaxer opened #112 "Respect line endings"
Generated doc can end up with mixed encodings on windows.
Seems like templates (in jsdoc2md packages) are using LF encoding (as they are installed by npm and not converted by git) and windows sources (by default converted by git) use CRLF.

A bigger problem though is unnecessary diffs generated in cross-platform projects. I.e. if doc generated on Mac and later regenerated on Windows then mixed lin

[2017-01-19 09:29] 75lb commented on #112
ok.. so what solution would you like to see? Ensure line-endings in generated docs are consistent? If so, should LF or CRLF be the consistent line-ending used? Or some other solution?

[2017-01-19 09:34] jaxer commented on #112
i think that line-endings should be configurable at best. but at least they should use os.EOL for all output.

yarn had similar problems (https://github.com/yarnpkg/yarn/issues/1061) and they are reusing existing line-endings if destination already exists or using os.EOL otherwise.

jsdoc2md does not have output file defined so i guess making it configurable is a way to go?

[2017-02-13 11:21] LeoAref opened #113 "Remove the extra "-" if the description already has it"
Sometimes the method jsDoc has `-` (dash) between the variable name and its description, so the generated documentation will has **double** dashes

For example:
[code]

---

The generated document will looks like:

<a name="getFullName"></a>

## getFullName() ⇒ <code>string</code>
Get user full name

**Kind**: global function
**Returns**: <code>string</code> - - Full name

| Param | Type | Descrip

[2017-02-24 01:16] Melatonin64 opened #114 "Ignoring @typicalname on static members/methods"
Howdy!

`@typicalname` is a very useful feature, but I was wondering if there's a way to define a `@typicalname` for a class, and ignore it for static members/methods.
Currently, the `@typicalname` will be used also for static members.

For example:
[code]

[2017-02-24 11:37] justin-calleja opened #115 "Support for @tutorial"
I have tried using JSDoc 3's `@tutorial` with `jsdoc-to-markdown` with no success.

I'm trying to extract common documentation in an npm package and include parts in other packages. I'm using `@tutorial` for explanation of things which are not bound to symbols e.g. functions or typedefs. For e.g. I'd like to explain what currying is once in this package, and include that documentation in other pac

[2017-02-25 20:11] justin-calleja opened #116 "Why must --files be used when I'm using conf.json?"
I'm passing `-c conf.json` to jsdoc2md:

`jsdoc2md --template readmeTpl.hbs --no-cache -c doc/conf.json --files lib/* >> README.md`

I'd like to include `lib/*` in `doc/conf.json`'s `source.include` below:

[code]

but I can't do that as `jsdoc`  errors out without `--files`.

[2017-02-25 20:18] 75lb commented on #116
how about you deleted the `include` property of jsdoc conf and passed all input files to jsdoc2md? You can store this command as an npm script..

[code]

[2017-02-26 03:41] justin-calleja commented on #116
I started out that way, but it gets a bit long to include in an npm script.

Note that I cannot glob like so: `node_modules/@justinc/jsdocs/typedefs/*.jsdoc` as there are files I want `jsdoc2md` to **not** include (the idea with node_modules/@justinc/jsdocs/ is to "pick and choose" the "common" JSDoc documentation relevant to a given project).

[2017-02-26 09:29] 75lb commented on #116
Then do it a different way - there are plenty of options.

Ok, if the `*` wildcard doesn't suit you then [use a different one](http://tldp.org/LDP/GNU-Linux-Tools-Summary/html/x11655.htm).

[2017-02-26 10:34] justin-calleja commented on #116
I was not using `*` I was using `node_modules/@justinc/jsdocs/typedefs/{index,Tuple}.hbs` which is workable for this use case but it doesn't scale if there are other files to include from other modules.

I brought this issue up because I thought `jsdoc2md` can be made better if the user is not required to supply `--files` / `--source` when they're using a jsdoc config file. CLI opts can be used to

[2017-02-26 11:04] 75lb commented on #116
[internally](https://github.com/jsdoc2md/jsdoc-api/blob/master/lib/explain-sync.js#L31), the values from jsdoc2md's `--files` option are passed directly to the `jsdoc` command..

So, when you run jsdoc2md using the options in your first comment, internally `jsdoc` will be executed something like this:

[code]

This command yields the JSON that jsdoc2md shapes (via jsdoc-parse) into useful input fo

[2017-02-26 11:09] justin-calleja commented on #116
Ok, understood. I thought it was simply a matter of turning off `required` flags via some option in `jsdoc2md`'s config.

:beer:

[2017-02-27 10:33] 75lb commented on #114
just to let you know, i have reproduced this and the fix is coming.

[2017-02-27 16:47] Melatonin64 commented on #114
Thanks!
I managed to work around it for now by overriding partials/helpers (added a custom `@typicalinstancename` functionality)...

[2017-02-27 20:27] #114 closed

[2017-02-27 20:27] 75lb commented on #114
Fixed and released in dmd@3.0.1, please update jsdoc2md.

[2017-02-27 22:26] Melatonin64 commented on #114
Thanks, can confirm it's fixed.

[2017-03-01 19:40] kottin opened #117 "rendered markdown code examples shows encoded quotations"
I feel like this is something I'm doing wrong. I'm using a custom template to render my docs. When I include an example in my jsdoc string on a function that has a single quote it in, I end up getting the encoded value in my resulting markdown. Here is what I'm doing...

My template file looks like this (back ticks changed to quotes intentionally here)
[code]

My jsdoc looks like this
[code]

If I

[2017-03-01 21:31] 75lb commented on #117
could you please post some steps to help me reproduce.. ideally, send a link to a gist or some code i can run.. if you're using a custom template, i will need to see that too..

read the "HTML Escaping" docs at http://handlebarsjs.com, just in case that is related..

[2017-03-01 21:35] kottin commented on #117
HTML escaping did the trick. I knew it was something I was doing! Thanks for the speedy help. Y'all are doing great work here.

[2017-03-01 21:35] #117 closed

[2017-03-05 00:15] Redsandro opened #118 "Can I merge modules with a similar name?"
I often split out each function to its own file for modularity, and auto-require them.
How can I specify that certain files are part of the same module?

---

`barFunc.js`
[code]

`bazFunc.js`
[code]

`fooFunc.js`
[code]

---

[code]

# Expectation:

---

## Modules

<dl>
<dt><a href="#module_MyModule">MyModule</a></dt>
<dd><p>This function is part of MyModule</p>
</dd>
</dl>

## Functions

<dl>
<

[2017-03-05 02:56] Redsandro commented on #118
I've been hacking at this, but I think the structure of both handlebars and the jsdoc api is too foreign for me to make all the right guesses.

I can filter the modules to be unique, but then member functions simply disappear from the output. I don't understand why, because in the `--json` output you can see that the modules are the same. There is no unique identifier that the members belong to. T

[2017-03-05 09:52] 75lb commented on #118
how does the output documentation for the above code look in plain jsdoc? I vaguely remember hitting this issue myself a couple of years ago, it may be solvable by tagging the functions in separate files with fully-qualified @alias namepaths linking them to the desired module. You may find you need to drop the `@module` tag in the separate files - I will check when i get some time. Run `jsdoc2md -

[2017-03-05 13:14] Redsandro commented on #118
:warning: Admittedly, I'm doing this from memory as I was hacking in `/tmp` and files are gone now.

----

## Modules

<dl>
<dt><a href="#module_MyModule">MyModule</a></dt>
<dd><p>This function is part of MyModule</p>
</dd>
</dl>

## Functions

<dl>
<dt><a href="#barFunc">barFunc(bar)</a> ⇒ <code>string</code></dt>
<dd><p>Do something with bar.</p>
</dd>
</dl>

<a name="module_MyModule"></a>

## M

[2017-03-05 13:20] Redsandro commented on #118
But for now I worked around this by replacing every `@module MyModule` in code with `@memberof MyModule` except for one.

`@memberof` can also be in function jsdoc in stead. I believe in your documentation you make note of this, except you recommend `@alias module:MyModule`. However, this way you cannot make use of `@alias myFunction` for `module.export` type functions, so I think `@memberof` is s

[2017-03-07 13:36] #118 closed

[2017-03-07 13:59] Redsandro opened #119 "Can I mark a function as a method while keeping alias?"
I'm not sure if this is possible. I hope you'll forgive me for asking this question here.

I have a module and a lot of files that export a single function automatically in the module with the filename as exported name. I would like all the exports to reflect this.

* `index.js`
* `myTest1.js`
* `myTest2.js`
* `someFunc3.js`
* etc...

[code]

Lists everything I want, but this is not actually a glo

[2017-03-07 16:49] 75lb commented on #119
the Modules list will only appear if multiple modules are found in the input files. The Functions list appears when there are two or more global functions defined.

The `Kind: Exported function` will appear where a function has the same `@alias` as the `@module` it sits beneath (yes it must be beneath). Follow [this guide](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-a-Common

[2017-03-07 16:49] #119 closed

[2017-03-07 17:14] Redsandro commented on #119
Perhaps this is a limitation of the `jsdoc` spec. When including an entire source tree into the parser, because all files are imported automatically in a modular context, there will only be one file (e.g. `index.js`) that defines the actual `@module`. Auto-imported files with names that are parsed earlier (e.g. `getUser.js`) will not sit beneath the module, and you [cannot copy the `@module` jsdoc

[2017-03-07 17:23] 75lb commented on #119
while working on this, i recommend you generate docs using [jsdoc](https://github.com/jsdoc3/jsdoc). It's because the general rule is: if it doesn't work in jsdoc, it won't work in jsdoc2md. What you're doing is fairly advanced so i'd ensure everything looks sane and valid, working as expected in jsdoc documentation before trying in jsdoc2md.

[2017-03-23 09:05] uGuinea commented on #95
I used this solution for the problem:

`return gulp.src(fileSource)
        .pipe(tap(function (file, t) {
            basename = file.relative.split('.js')[0];
            //console.log("File " + file.path + "  " + file.relative.split('.js')[0]);
            jsdoc2md.render({
                files: file.path
            }).then(output => fs.writeFile(outputPath + baseName + '.md', output));

[2017-03-23 09:08] 75lb commented on #95
the example script for how to create one file per class now lives on the wiki:
https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-create-one-output-file-per-class

[2017-04-02 12:08] gitjeff05 opened #120 "Ambiguous error"
Any time I get an error generating the markdown, it's usually something like this:

[code]
Is there a way to produce a more verbose output? Line numbers would really help out a lot.

[2017-04-02 12:41] 75lb commented on #120
Unfortunately, that's as much information as we receive from the underlying jsdoc app. If jsdoc returned the full error stack jsdoc2md would print it.

Follow the upstream issue [here](https://github.com/jsdoc3/jsdoc/issues/1345).

[2017-04-06 23:32] skarfacegc opened #121 "Which partial prints the top level class name?"
My module only contains one class.  (It's primarily a CLI tool)

I want to suppress the ```# Classname ``` header
I suspect it's in the globals-* area, but I'm not entirely sure where the specific rendering comes from.

[2017-04-07 01:34] skarfacegc commented on #121
Figured out that API Documentation was coming from a header comment that I missed.  Still can't figure out how to squash the ```# Class``` output

[2017-04-07 21:22] 75lb commented on #121
well, [this](https://github.com/jsdoc2md/dmd/blob/master/partials/all-docs/docs/docs.hbs) is the template for each identifier.. if you don't want the header, omit it:

[code]

`MyClass` must be a valid namepath. Use `jsdoc2md --namepaths` to list all valid namepaths in the supplied source files.

[2017-04-07 21:22] #121 closed

[2017-04-11 18:47] KevinAst opened #122 "Anchor with id rather than name"
I am using jsdoc-to-markdown (ver: 3.0.0) to document the API in my project: https://astx-redux-util.js.org/1.0.0/.

For some reason, jsdoc2md creates anchors using **name** `<a name="ref">`, instead of **id** `<a id="ref"`.  As far as I know, the id is required by Markdown (and html for that matter) in order to link to it.

My current process applies a fix by overriding the header.hbs handlebar p

[2017-04-11 19:25] KevinAst opened #123 "Linkable Code References"
I am using jsdoc-to-markdown (ver: 3.0.0) to document the API in my project: https://astx-redux-util.js.org/1.0.0/.

Initially, my code references (function return types, and parameter types) were NOT linkable.  These references were coded as follows (out-of-the-box):

[code]

My understanding of why this is not linkable, is that markdown does not honor a hyperlink inside a code block (i.e. the `<

[2017-04-12 10:05] 75lb commented on #122
hi! yes, it's because jsdoc2md output is primarily viewed on Github (in readme and API docs). Github has a whitelist for which attributes are respected in markdown source and `id` is not one them (id attributes get stripped). So, i used `name` which produced a working link in most browsers. But it's not always useful in environments other than Github, as you discovered.

In your case, tweaking the

[2017-04-12 10:05] #122 closed

[2017-04-12 10:12] 75lb commented on #123
there are so many different markdown parsers - all the main sites use different ones.. when you see oddities in the partials like `<code>` tags being used instead of backticks, you're seeing a "lowest common denominator" solution - i.e. a solution which works in the most amount of markdown parsers..

Maybe it's time to review all the partials against the latest versions of the various markdown par

[2017-04-12 10:12] #123 closed

[2017-04-12 14:07] KevinAst commented on #122
Thanks for the quick reply!  *This gives me more insight into your dilemma (i.e. so many markdown parsers).*

When you say that Github flavored markdown strips the id attribute, would there be **anything wrong** with supplying **both** the `name` and `id` attributes?  This approach may accommodate more environments without the need to override partials.

**Thoughts?**

**FYI:** You may be interest

[2017-04-12 14:10] KevinAst commented on #123
Thanks for the quick reply! *This gives me more insight into your dilemma (i.e. so many markdown parsers).*

**Thanks again for the great library!**

[2017-04-12 14:51] 75lb commented on #122
not GFM, Github (as in github.com) strips the `id`.
https://github.com/github/markup

I will investigate leaving the `id` attribute in but for now, because it's not something that's been requested before, i think your tweaked header partial makes most sense.

[2017-04-18 16:02] KevinAst opened #124 "Integrating GitBook with JSDoc using jsdoc-to-markdown"
Your package is very much appreciated!  It was the cornerstone that allowed me to promote a very polished set of docs **_integrating GitBook with JSDoc_**.

I really wanted to drive my documentation using GitBook, promoting a very polished set of docs, but I didn't want to give up the auto-generation of my low-level API from my embedded JSDoc comments.

Here is an example of the end result (_notic

[2017-04-18 16:06] 75lb commented on #124
thanks, i may create a separate wiki page at some point to mention things like this but for now i don't know of any great demand.

[2017-04-18 16:06] #124 closed

[2017-05-01 09:23] zandaqo opened #125 "Anchors and Gitbook"
Hi,

I'm using jsdoc-to-markdown to generate API docs in a Gitbook. It all works quite nicely except for anchors. Gitbook uses the `id` attribute for anchors instead of the `name`. However, just changing partials to use a different attribute doesn't cut it because `id` attribute cannot use special symbols that jsdoc-to-markdown creates for its anchor names, e.g. `+` and `.` used for class instance

[2017-05-01 10:51] 75lb commented on #125
this issue [was raised recently](https://github.com/jsdoc2md/jsdoc-to-markdown/issues/122) by @KevinAst.. Anchors have been an issue for a while as different sites (github, npm etc.) have different rules regarding them, so finding a solution to suit all targets has been awkward..

It's good your helper works but It's probably time I had a more detailed look. Meanwhile, @KevinAst may have some tips

[2017-05-01 11:41] zandaqo commented on #125
Yes, I have seen that issue, but it was about the attribute's name rather than the incompatibility in the anchor naming, and the issue was closed, so I decided to open a new one.

To use anchors with `id` we have to observe the [limitations](https://www.w3.org/TR/html5/dom.html#the-id-attribute) that HTML puts on this attribute; there is no going around that. The question is what should be used fo

[2017-05-01 12:33] KevinAst commented on #125
Hello @zandaqo,

Yes (as you know from [Issue122](https://github.com/jsdoc2md/jsdoc-to-markdown/issues/122)) I too am using partials to use anchor ids instead of name.

I just recently came across the id special character issue, so your post is a timely one.

While I understand what your temporary work around is doing, I **don't understand**
  1. where it is injected and
  2. how it is invoked.

*

[2017-05-01 13:02] zandaqo commented on #125
Hello, @KevinAst,

jsdoc2md gets its anchors from a helper called [`anchorName`](https://github.com/jsdoc2md/dmd/blob/master/helpers/ddata.js#L554) and uses it in templates as `{{{anchorName}}}`. Since jsdoc2md allows adding custom helpers, we can create a helper to modify the value returned by this `anchorName`. For example, we can place the code I wrote above in `helpers.js` and run jsdoc2md wit

[2017-05-01 14:20] KevinAst commented on #125
Thanks @zandaqo for the detailed explanation of your workaround.

It's too bad there is not a technique to monkey-patch an exported module.  If this were available, you could centrally apply your patch:
- without the need to override all template usages of anchorName,
- and would also solve the issue with the internal usage of anchorName (by mixes.hbs).

**In regard to the [W3 standard for ids](ht

[2017-05-01 15:00] zandaqo commented on #125
@KevinAst You are actually right, I was getting my info on id from [HTML 4](https://www.w3.org/TR/html4/types.html#type-id) and didn't notice the changes in HTML5. If memory serves, in days of old, DOM used ids as object property names somewhere, and since then JS devs try to avoid special characters in ids, well, at least I do. Thanks for correcting!

I guess we do have a reason to bother Gitbook

[2017-05-01 16:03] KevinAst commented on #125
@zandaqo ...  I successfully applied your work-around for the special characters fix.  This was much appreciated, as jsdoc2md has not yet documented the --helper feature.

With this work-around, the id's have been patched (ex: the dot `'.'` has been replaced with underbar `'_'`).  However the {@link xyz} tags are still not working, as they still reference the dot.  Is this the result of the the in

[2017-05-02 16:41] zandaqo commented on #125
@KevinAst Yes, those links along with mixes and types are generated through `link` helper that uses `anchorName` internally. I cannot think of an easy fix for that short of rewriting the `link` helper itself. For now the situation is tolerable in my [case](https://scriptare.gitbooks.io/compago/API.html), but for complete support we have to either fix Gitbook's handling of the special characters or

[2017-05-02 22:08] johnBartos opened #126 "[Question] Select identifiers belonging only to the current module in a block selector"
Suppose I have the following partial:
[code]

Which I use within a template:

[code]

On the following module:
[code]
(the other module contains the same syntax)

How would I go about restricting each instance of `const-table` to the identifiers found only within the module itself? As it stands my `const-table` template includes identifiers from all modules and not just the ones I have restricted

[2017-05-03 19:32] 75lb commented on #126
this doesn't look valid syntax to me: `{{#identifiers kind="constant" memberof="{{../id}}"}}`, I may be wrong (it's been a while) but i don't think nested curly braces are valid..

also, I don't think your `const-table` partial needs to be wrapped in a `{{#module}}` if the higher-level partial is calling it within the context of `{{#module name="Code"}}`.

Some handlebars homework required, i thin

[2017-05-03 19:32] #126 closed

[2017-05-10 12:33] Haroenv opened #127 "Getting `Cannot read property '_stats' of undefined` when using the `render` function"
Stack trace:

[code]

[code]

[2017-05-10 12:42] 75lb commented on #127
in your example code, the `render` const pointing to the `jsdoc2md.render` method does not have its `this` bound to `jsdoc2md`. This works:

[code]

[2017-05-10 12:42] #127 closed

[2017-05-10 12:44] Haroenv commented on #127
Thank you!

[2017-05-12 13:56] selfrefactor opened #128 "Doesn't work with async functions"
I fail to use the service, as I am using `async` function. Are there any plan to start supporting `async` syntax and if so, when?

[2017-05-12 13:56] #128 closed

[2017-05-12 17:26] 75lb commented on #128
https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-ES2016-features

[2017-05-13 20:34] 75lb opened #129 "a new dmd release should invalidate previously cached output"
This is what currently happens:

1. Run jsdoc2md
    1. Generated docs for exactly the same source using the same options exists in the cache
        1. Return the cached docs (fast)
    1. Generated docs for exactly the same source using the same options does **not** exist in the cache
        1. Generate some fresh docs
        1. Cache the docs for fast retrieval later

However, step 1i does no

[2017-05-13 20:50] #129 closed

[2017-06-07 19:53] fidian opened #130 "Feature Request: Embed Into Markdown"
I would like to have a `README.md` with a bit more content than just the documentation generated by this tool. Would it be possible to include an option that would embed the generated markdown between two tags in the README?

    Sample Readme File
    ------------------

    Words go here to describe stuff

    API
    ---

    [//]: # (JSDOC2MD-START)
    ... automatically generated content goes

[2017-06-07 19:55] 75lb commented on #130
https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Create-a-README-template

[2017-06-07 19:55] #130 closed

[2017-06-07 20:15] fidian commented on #130
Sorry, I wish I noticed that earlier. Thanks for pointing me in the right direction!

[2017-06-07 20:15] 75lb commented on #130
no problem

[2017-06-10 13:26] 75lb commented on #130
![](https://github.trello.services/images/mini-trello-icon.png) [add req/res view events to Server.js](https://trello.com/c/g2q4bMrS/152-add-req-res-view-events-to-serverjs)

[2017-06-20 07:33] swliu920322 opened #131 "how to make myself template"
i am a chinese.i use this tool to transform annotation to markdown files. the template you supply is very good, but i need some custom attribute.can you guide me how to do it? thanks!

[2017-06-20 07:54] swliu920322 commented on #131
i find some useful info in dmd/partials files

[2017-06-20 08:09] 75lb commented on #131
https://github.com/jsdoc2md/jsdoc-to-markdown/wiki

[2017-06-20 08:09] #131 closed

[2017-06-20 08:48] swliu920322 commented on #131
@75lb  how to use default value attribute,now i put all tag in my hbs file

{{>main-index~}}
{{#orphans ~}}
{{>header~}}
    {{>deprecated~}}
    {{>description~}}
    {{>scope~}}
    {{>summary~}}
    {{>augments~}}
    {{>implements~}}
    {{>mixes~}}
    {{>default~}}
    {{>chainable~}}
    {{>overrides~}}
    {{>returns~}}
    {{>category~}}
    {{>throws~}}
    {{>fires~}}
    {{>this~}}

[2017-06-20 08:51] swliu920322 commented on #131
/**
 * A quite wonderful function.
 * @param {object} - (1) - privacy gown
 * @param {string} - show
 * @param {string} - show1
 * @returns {survival}
 */
function protection(a, b, c) {
}

[2017-06-20 09:12] swliu920322 commented on #131
@75lb thanks, now i use your template, i put all minimum tag to my hbs file and delete some unused, you are so kind,

[2017-07-05 04:49] reconbot opened #132 "Different Docs on Travis CI"
I have a check on travis ci that the generated docs are up to date. Lately I've been seeing some inconstant output from my mac laptop and travis ci and even from some committers.

[code]

I'm using `"jsdoc-to-markdown": "^3.0.0"`

Full diff here https://travis-ci.org/EmergingTechnologyAdvisors/node-serialport/jobs/250206310

[2017-07-05 08:22] 75lb commented on #132
hi.. what travis is creating (the green part of the diff) is correct and has been correct since [this April dmd patch](https://github.com/jsdoc2md/dmd/commit/80b07410ac90c7291a96d859127385e1f954b56b).

You're seeing differences because you (and some committers) don't have the lastest modules installed. If you run `npm out` in your project it should reveal your dmd module (in the dependency tree of

[2017-07-05 08:29] 75lb commented on #120
true, the fix has landed on master.. Once @hegemonic has finished the new release (3.5.0) i'll pull it into jsdoc2md.

[2017-07-05 13:10] #132 closed

[2017-07-14 20:40] truetamtam commented on #125
Thanks @zandaqo
Wrote helper.
And, for my namespaced events, like "event.some.namespace", worked like this:
[code]

[2017-07-17 21:24] jeffscottward commented on #40
HOW??

[2017-07-18 02:52] ryan-sandy commented on #40
Honestly, it's been two years and I don't remember. That was pretty bad of me not to comment. I'll dig around on my work machine tomorrow. I'm not sure I still have anything related to this bug.

[2017-07-22 16:31] iCrawl commented on #128
Any updates on this? Esp with the release of node 8 async/await is more than just something you babel down.
Also considering jsdoc supports the syntax since 3.5.

[2017-07-22 16:33] 75lb commented on #128
@iCrawl I already posted the link to the solution https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-ES2016-features

[2017-07-22 16:34] iCrawl commented on #128
I am aware you did. I was simply asking if theres any plans to implement it without including those babel dependencies and convert them to generators for the docs.

[2017-07-24 09:31] taoqf opened #133 "How to use plugin jsdoc-babel in jsdoc2md.render()"
[code]
It seems neither `plugin` nor `plugings` will work.

[2017-07-24 10:05] 75lb commented on #133
if you look at the [render docs](https://github.com/jsdoc2md/jsdoc-to-markdown/blob/master/docs/API.md#jsdoc2mdrenderoptions--promise) for `options` it says "Accepts all getJsdocData options plus the following", meaning you can also pass in `configure` (the option you want).

Create a jsdoc config file (as described [here](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-ES2016-f

[2017-07-24 10:05] #133 closed

[2017-07-24 10:29] 75lb commented on #128
Ah, i see - you're asking to make jsdoc2md work with ES2017 code by default (without jsdoc plugins). Yes, that is coming soon - i'm testing the latest jsdoc release atm.

[2017-07-24 10:33] taoqf commented on #133
do not get it, this doesn't work.
[code]

[2017-07-24 10:37] 75lb commented on #133
you didn't read my reply, read it again:

[2017-07-24 10:44] taoqf commented on #133
I think I did, but you know, I was trying to use gulp, nor gulpfile.js plus jsdoc config file,  is there a way to do this?btw, how could this be use?

[options.plugin] | string \| Array.<string> | Use an installed package containing helper and/or partial overrides.
-- | -- | --

[2017-07-24 10:48] 75lb commented on #133
some info on `options.plugin` [here](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Create-a-plugin).

Your gulp config must look like this:

[code]

[2017-07-24 10:50] taoqf commented on #133
thanks, is there a way to config without a json file?

[2017-07-24 10:51] 75lb commented on #133
no, not yet. The json file is required by jsdoc (jsdoc-to-markdown is a
wrapper around jsdoc).

On 24 Jul 2017 11:50, "taoqf" <notifications@github.com> wrote:

[2017-07-24 18:10] timothyswt commented on #84
I there a workaround for this? I need to be able to document files as well.

[2017-07-24 18:24] timothyswt commented on #84
I figured out a workaround. just use the "@name" tag instead and just give your file a name without an extension. then it will pick up the comments regardless. just don't use "@file" or synonyms or it will still ignore it even when using "@name"

[2017-07-27 08:12] 75lb opened #134 "Upgrade underlying jsdoc"
[Jsdoc version 3.5.0](https://github.com/jsdoc3/jsdoc/releases) was released recently which is able to parse any ES2017 code without the need for Babel plugins. This will mean jsdoc2md users will no longer need to follow the process described [here](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-ES2017-features).

I'm testing v3.5.3 with jsdoc2md now, there are a few issues but

[2017-08-01 14:45] avighier opened #135 "Question : How to configure --access public"
Hi,

During 1 hour, I have tryed to configure --access jsdoc to avoid documenting @protected methods, but without success.

Does someone know how to do ?

Thanks.

[2017-08-02 19:33] 75lb commented on #135
create a [config file](http://usejsdoc.org/about-configuring-jsdoc.html) with your options then pass the config file path to `--configure`, e.g.

[code]

[2017-08-02 19:33] #135 closed

[2017-08-03 08:09] avighier commented on #135
Hi,

Thanks for the anwser. But I should be stupid ... That doesn't work for me.

jsdoc.json
[code]

When I run `node_modules/.bin/jsdoc -c jsdoc.json  src/**/*.js` : it works !
When I run `node_modules/.bin/jsdoc2md --configure=jsdoc.json  src/**/*.js` : It don't

Note that `node_modules/.bin/jsdoc2md --configure=notExists.json  src/**/*.js` doesn't throw error. It seems to ignore --configure.

[2017-08-03 08:11] avighier commented on #135
Note I have 'jsdoc-to-markdown@3.0.0'

[2017-08-07 13:05] victusfate commented on #128
That link isn't working, should I just bump jsdoc2md (latest release patches)?

[2017-08-07 13:09] 75lb commented on #128
apologies, the links in the above comments now work (i updated them).. Here is the link:
https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-ES2017-features

Regarding this issue, I am still testing jsdoc 3.5.3 with jsdoc2md. The jsdoc upgrade does remove the need for babel plugins but also introduces new issues, which i'm looking into.

[2017-08-07 14:26] victusfate commented on #128
Thanks @75lb -> really appreciate your work developing jsdoc-to-markdown
update: tried the above and it appears to skip most of my class method docs
would happily try out an experimental branch babelfree

[2017-08-07 14:30] 75lb commented on #128
it's probably nothing to do with babel.. [read the docs again](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-an-ES2015-module-(single-default-export)), especially this part

Your class methods will only appear in output if both the parent class *and* the module (if it lives in a module) are documented.

[2017-08-07 14:47] victusfate commented on #128
If I comment out the async class methods the docs show up aok, thanks for the tip though. I'll wait and come back to it when ready.

[2017-08-07 15:01] 75lb commented on #128
I uploaded a pre-release which uses jsdoc 3.5.4 for you to try:

[code]

[2017-08-09 07:14] summercloud opened #136 "Parse out additional constants"
My js code like this
[code]
and use jsdoc2md.renderSync() to render
but the result markdown is
[code]
i didn't set validator in /**...*/
why is rendered out?
did i do something wrong?

[2017-08-09 08:16] 75lb commented on #136
jsdoc thinks that your `/** ... */` comment is documentation for `validator`. I would try adding a `@file` (or similar) tag to that comment but anyway, this is a question for the Jsdoc project, not jsdoc2md.

Always ensure your documentation renders correctly using [jsdoc](http://usejsdoc.org/) first. If it doesn't work in jsdoc, it won't work in jsdoc2md.

[2017-08-09 08:16] #136 closed

[2017-08-09 08:21] 75lb commented on #134
I published a pre-release which uses `jsdoc@^3.5.3`. Generally it works fine but I've found a few differences in output which i'm reviewing. Please try it for yourself and let me know if you find any issues.

[code]

[2017-08-18 14:47] scholtzm commented on #128
I tried to get this to work with a class that contains `async` methods and `js2doc` would generate invalid files. Commenting out the `async` method and disabling setup steps from [here](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-ES2017-features) would produce a valid file.

I can try to provide reproduction case if needed.

[2017-09-07 13:42] UsulPro opened #137 "JSDOC_ERROR: There are no input files to process."
Hi! I tried to figure out how to use this tool. I wanted to parse my `src/index.js` but without any success:

![image](https://user-images.githubusercontent.com/14885189/30166111-00ff23a6-93eb-11e7-917a-972258b96cb8.png)

Do I miss some steps which should be done before it?

[2017-09-07 13:52] 75lb commented on #137
you are using the command correctly, it's like this:

[code]

Which terminal on which platform are you using? If it's WIndows, try putting quotes around your file expression:

[code]

[2017-09-07 14:02] UsulPro commented on #137
I use Gnome terminal on Ubuntu.
I tried both: `jsdoc2md -f "example.js"` and `jsdoc2md -f example.js` - it still throws this error
Do I need to setup something else except installing `jsdoc-to-markdown` as a devDependency? Or it should be installed globally?

[2017-09-07 14:21] 75lb commented on #137
strange, i just tested it successfully on Gnome terminal on Ubuntu.. maybe try reinstalling it.. which version of node and npm do you have?

[2017-09-07 15:16] UsulPro commented on #137
node 7.10
npm 4.2

[2017-09-07 21:03] UsulPro commented on #137
@75lb I casually found the cause of the error!
It appears when I add an empty line to jsdoc comments.
Steps to reproduce:

1. This works:
[code]

2. This throws an error:
[code]

[2017-09-08 11:37] UsulPro commented on #137
Finally, I dug out that the error appears when you have a folder starting with the underscore in your path. In my case it was `_sm-react`, but it reproducible with any other names:
`x_x` works
`_xx` doesn't work.

To reproduce you can clone `https://github.com/sm-react/storybook-addon-console.git` to `_xx` folder and `yarn && yarn dev:docs`. The first pass works fine, but if you change anything in

[2017-09-08 11:38] #137 closed

[2017-09-08 21:22] 75lb commented on #137
i tracked it down to jsdoc (which jsdoc2md uses internally).. by default, jsdoc ignores file names beginning with a leading underscore - no idea why..

See the "Default configuration options" section of the [config file instructions](http://usejsdoc.org/about-configuring-jsdoc.html).

You can pass in a custom jsdoc config using the `--configure` option of jsdoc2md.